<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.putaway.mapper.StInstockDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="instockDetailResultMap" type="org.nodes.wms.dao.putaway.entities.StInstockDetail">
        <id column="ssid_id" property="ssidId"/>
        <result column="ssi_id" property="ssiId"/>
        <result column="from_zone_id" property="fromZoneId"/>
        <result column="from_loc_id" property="fromLocId"/>
        <result column="to_zone_id" property="toZoneId"/>
        <result column="to_loc_id" property="toLocId"/>
        <result column="instock_function" property="instockFunction"/>
        <result column="loc_sort_type" property="locSortType"/>
        <result column="loc_sort_mode" property="locSortMode"/>
        <result column="conf_mix_wight" property="confMixWight"/>
        <result column="conf_mix_volume" property="confMixVolume"/>
        <result column="conf_mix_box_count" property="confMixBoxCount"/>
        <result column="sku_mix" property="skuMix"/>
        <result column="sku_lot_mix1" property="skuLotMix1"/>
        <result column="sku_lot_mix2" property="skuLotMix2"/>
        <result column="sku_lot_mix3" property="skuLotMix3"/>
        <result column="sku_lot_mix4" property="skuLotMix4"/>
        <result column="sku_lot_mix5" property="skuLotMix5"/>
        <result column="sku_lot_mix6" property="skuLotMix6"/>
        <result column="sku_lot_mix7" property="skuLotMix7"/>
        <result column="sku_lot_mix8" property="skuLotMix8"/>
        <result column="sku_lot_mix9" property="skuLotMix9"/>
        <result column="sku_lot_mix10" property="skuLotMix10"/>
        <result column="sku_lot_mix11" property="skuLotMix11"/>
        <result column="sku_lot_mix12" property="skuLotMix12"/>
        <result column="sku_lot_mix13" property="skuLotMix13"/>
        <result column="sku_lot_mix14" property="skuLotMix14"/>
        <result column="sku_lot_mix15" property="skuLotMix15"/>
        <result column="sku_lot_mix16" property="skuLotMix16"/>
        <result column="sku_lot_mix17" property="skuLotMix17"/>
        <result column="sku_lot_mix18" property="skuLotMix18"/>
        <result column="sku_lot_mix19" property="skuLotMix19"/>
        <result column="sku_lot_mix20" property="skuLotMix20"/>
        <result column="sku_lot_mix21" property="skuLotMix21"/>
        <result column="sku_lot_mix22" property="skuLotMix22"/>
        <result column="sku_lot_mix23" property="skuLotMix23"/>
        <result column="sku_lot_mix24" property="skuLotMix24"/>
        <result column="sku_lot_mix25" property="skuLotMix25"/>
        <result column="sku_lot_mix26" property="skuLotMix26"/>
        <result column="sku_lot_mix27" property="skuLotMix27"/>
        <result column="sku_lot_mix28" property="skuLotMix28"/>
        <result column="sku_lot_mix29" property="skuLotMix29"/>
        <result column="sku_lot_mix30" property="skuLotMix30"/>
        <result column="ssid_proc_order" property="ssidProcOrder"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
</mapper>
