<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nodes.project.api.mapper.JobTimeoutMapper">
	<sql id="Base_Column_List">
		id,wms_task_id,wms_task_detail_id,
        wms_bill_no,wms_bill_type,wms_line_no,
        wms_sku_code,wms_sku_name,wms_qty,
        wms_um_code,wms_um_name,wms_box_type,
        name,priority,type_code,
        status,begin_time,end_time,
        location_name_from,location_name_to,create_time,
        update_time
	</sql>
</mapper>
