<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.instock.receive.mapper.ReceiveDetailMapper">

    <select id="selectDetailById" resultType="org.nodes.wms.dao.instock.receive.dto.output.ReceiveDetailResponse">
        SELECT
            line_no,
            sku_code,
            sku_name,
            plan_qty,
            scan_qty,
            surplus_qty,
            um_name,
            status,
            sku_spec,
            remark
        from receive_detail
        where receive_id = #{id}
    </select>
    <select id="selectDetailByHeaderId" resultType="org.nodes.wms.dao.instock.receive.dto.input.ReceiveDetailRequest">
        select
        receive_detail_id,
        scan_qty
        from receive_detail
        where receive_id = #{id}
    </select>
    <select id="selectDetailIdByReceiveId" resultType="java.lang.Long">
        select
         receive_detail_id
        from receive_detail


    </select>
    <select id="selectReceiveDetailById"
            resultType="org.nodes.wms.dao.instock.receive.dto.output.ReceiveDetailEditResponse">
         select
          receive_detail_id,
          sku_id,
          plan_qty,
          um_code,
          sku_spec,
          remark
          from receive_detail
         where  receive_id = #{id}
    </select>

</mapper>
