<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.instock.receive.mapper.ReceiveHeaderMapper">
    <sql id="ReceiveHeader">
        select
        h.receive_id,
        h.receive_no,
        h.asn_bill_no,
        h.wh_id,
        h.bill_state,
        h.supplier_code,
        h.supplier_name,
        h.external_order_no,
        h.external_last_update_date,
        h.external_create_user,
        h.create_time,
        h.update_time,
        user1.real_name createUser,
        user2.real_name updateUser
        from receive_header h
        LEFT JOIN blade_user user1 ON user1.id = h.create_user
        LEFT JOIN blade_user user2 ON user2.id = h.update_user
        LEFT JOIN receive_detail d on h.receive_id = d.receive_id
        <where>
            AND h.is_deleted = '0'
            <if test="query.receiveNo != null and query.receiveNo != ''">
                AND h.receive_no LIKE concat('%',#{query.receiveNo},'%')
            </if>
            <if test="query.billStateList != null and query.billStateList.size() > 0">
                AND  h.bill_state in
                <foreach collection="query.billStateList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="query.skuIds!=null and query.skuIds != ''">
                AND  d.sku_id in
                <foreach collection="query.skuIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="query.externalOrderNo!=null and query.externalOrderNo != ''">
                AND h.external_order_no LIKE concat('%',#{query.externalOrderNo},'%')
            </if>
            <if test="query.asnBillNo!=null and query.asnBillNo != ''">
                AND h.asn_bill_no LIKE concat('%',#{query.asnBillNo},'%')
            </if>
            <if test="query.whIds!=null and query.whIds.size()>0">
                AND  h.wh_id in
                <foreach collection="query.whIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="query.createTimeBegin!=null">
                AND h.create_time  &gt;= #{query.createTimeBegin}
            </if>
            <if test="query.createTimeEnd!=null">
                AND h.create_time  &lt;= #{query.createTimeEnd}
            </if>
            <if test="query.externalCreateUser!=null and query.externalCreateUser != ''">
                AND h.external_create_user LIKE concat('%',#{query.externalCreateUser},'%')
            </if>
            <if test="query.supplierCode!=null and query.supplierCode != ''">
                AND h.supplier_code LIKE concat('%',#{query.sCode},'%')
            </if>
        </where>
        group  by  h.receive_id
    </sql>

    <select id="getPage" resultType="org.nodes.wms.dao.instock.receive.dto.output.ReceiveHeaderResponse">
        <include refid="ReceiveHeader"/>
        <if test="page.orders==null or page.orders.size()==0">
            order by h.create_time desc
        </if>
    </select>
    <select id="selectHeaderById" resultType="org.nodes.wms.dao.instock.receive.dto.output.ReceiveHeaderResponse">
        SELECT
            receive_no,
            bill_state,
            wh_code,
            owner_code,
            bill_type_cd,
            in_store_type,
            asn_bill_no,
            supplier_code,
            supplier_name,
            remark
            from receive_header
            where receive_id = #{id}
    </select>
    <select id="getReceiveHeaderResponseByQuery"
            resultType="org.nodes.wms.dao.instock.receive.dto.output.ReceiveHeaderResponse">
        <include refid="ReceiveHeader"/>
    </select>

</mapper>
