<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.instock.receive.mapper.ReceiveDetailMapper">

    <select id="selectDetailById" resultType="org.nodes.wms.dao.instock.receive.dto.output.DetailReceiveDetailResponse">
        SELECT
            line_no,
            sku_code,
            sku_name,
            plan_qty,
            scan_qty,
            surplus_qty,
            um_name,
            detail_status,
            sku_spec,
            remark,
            sku_lot1,
            sku_lot4,
            sku_lot5,
            sku_lot6,
            sku_lot8
        from receive_detail
        where receive_id = #{id}
    </select>
    <select id="selectDetailByHeaderId" resultType="org.nodes.wms.dao.instock.receive.dto.input.ReceiveDetailRequest">
        select
        receive_detail_id,
        scan_qty
        from receive_detail
        where receive_id = #{id}
    </select>
    <select id="selectDetailIdByReceiveId" resultType="java.lang.Long">
        select
         receive_detail_id
        from receive_detail
        where receive_id  = #{id}


    </select>
    <select id="selectReceiveDetailById"
            resultType="org.nodes.wms.dao.instock.receive.dto.output.EditReceiveDetailResponse">
         select
          receive_detail_id,
          sku_id,
          plan_qty,
          um_code,
          sku_spec,
          remark
          from receive_detail
         where  receive_id = #{id}
    </select>

    <select id="selectDetailListByReceiveId" resultType="org.nodes.wms.dao.instock.receive.dto.output.DetailReceiveDetailPdaResponse">
        select receive_detail_id,sku_code,surplus_qty from receive_detail
        <where>
            surplus_qty>0 and is_deleted=0 AND wh_id=#{query.whId}
            <if test="query.skuCode!=null and query.skuCode != ''">
                AND sku_code LIKE concat('%',#{query.skuCode},'%')
            </if>
            <if test="query.receiveId!=null and query.receiveId != ''">
                AND receive_id = #{query.receiveId}
            </if>
        </where>
       order by create_time desc
    </select>
    <select id="selectReceiveDetailLinNo" resultType="java.lang.String">
        select
            line_no
           from receive_detail
         where receive_id = #{receiveId}
        order by create_time  desc
        limit 1
    </select>

</mapper>
