<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.basics.lpntype.mapper.LpnTypeMapper">
    <select id="getPage" resultType="org.nodes.wms.dao.basics.lpntype.dto.output.LpnTypePageResponse">
        select l.id, l.wh_id, l.code, l.type, l.lpn_no_rule , l.weight, l.tenant_id, l.create_dept, l.create_time
        ,l.update_time, l.status, l.is_deleted,
        user1.real_name create_user,
        user2.real_name update_user
        from wms_lpn_type l
        LEFT JOIN blade_user user1 ON user1.id = l.create_user
        LEFT JOIN blade_user user2 ON user2.id = l.update_user
        <where>
            AND l.is_deleted = '0'
            <if test="query.code!=null and query.code != ''">
                AND l.code LIKE concat('%',#{query.code},'%')
            </if>
            <if test="query.lpnType!=null and query.lpnType!=''">
                AND l.type = #{query.lpnType}
            </if>
            <if test="query.createTimeBegin!=null">
                AND l.create_time &gt;= #{query.createTimeBegin}
            </if>
            <if test="query.createTimeEnd!=null">
                AND l.create_time &lt;= #{query.createTimeEnd}
            </if>
            <if test="query.updateTimeBegin!=null">
                AND l.update_time &gt;= #{query.updateTimeBegin}
            </if>
            <if test="query.updateTimeEnd!=null">
                AND l.update_time &lt;= #{query.updateTimeEnd}
            </if>
        </where>

        <if test="page.orders==null or page.orders.size()==0">
            order by create_time desc
        </if>
    </select>

    <select id="getLpnTypes" resultType="org.nodes.wms.dao.basics.lpntype.dto.output.LpnTypeExcelResponse">
        select l.code, l.type, l.lpn_no_rule , l.weight, l.tenant_id, l.create_dept, l.create_time ,l.update_time,
        l.status, l.is_deleted,
        user1.real_name create_user,
        user2.real_name update_user
        from wms_lpn_type l
        LEFT JOIN blade_user user1 ON user1.id = l.create_user
        LEFT JOIN blade_user user2 ON user2.id = l.update_user
        <where>
            AND l.is_deleted = '0'
            <if test="query.code!=null and query.code != ''">
                AND l.code LIKE concat('%',#{query.code},'%')
            </if>
            <if test="query.lpnType!=null and query.lpnType!=''">
                AND l.type = #{query.lpnType}
            </if>
            <if test="query.createTimeBegin!=null">
                AND l.create_time &gt;= #{query.createTimeBegin}
            </if>
            <if test="query.createTimeEnd!=null">
                AND l.create_time &lt;= #{query.createTimeEnd}
            </if>
            <if test="query.updateTimeBegin!=null">
                AND l.update_time &gt;= #{query.updateTimeBegin}
            </if>
            <if test="query.updateTimeEnd!=null">
                AND l.update_time &lt;= #{query.updateTimeEnd}
            </if>
        </where>
    </select>
</mapper>
