<ion-header>
  <ion-navbar color="wmscolor">
    <ion-title (click)="expression()">
      收货记录
      <!-- <div class="title_f_name">(青啤五厂)</div> -->
    </ion-title>
    <!-- <ion-buttons start (click)="setServerIp()">
      <button ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <!-- <ion-buttons end (click)="detailed()">
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
  <div class="title-bt">
    <!-- <div class="order">
      <div class="order-number">ASN000000000001</div>
      <div class="order-info">单据收货进度 5/10</div>
    </div> -->
    <!-- <div class="nav-tile">
      <ul>
        <li>首页</li>
        <li>
          <ion-icon class="iconfont  iconicon_arr_right"></ion-icon>
        </li>
        <li>收货</li>
        <li>
          <ion-icon class="iconfont  iconicon_arr_right"></ion-icon>
        </li>
        <li>收货记录</li>
      </ul>
    </div> -->
    <div class="nav-tile"> 
    <crumbs></crumbs>
    </div>
  </div>
</ion-header>
<ion-content class="no-scroll">
  <div class="total-title" >
      <div *ngFor="let item of groupRecords">
        <div *ngIf="item.totalPlanQty>0" class="box">
          <span>【{{item.skuName}}】</span>
          <span>{{item.totalScanQty}}/{{item.totalPlanQty}}</span>
        </div>
      </div>
  </div>
  <div *ngFor="let item of records; let _i = index" class="title-ms">
    <div class="title-ms-info">
      <div class="title-font-s1">
        <label>{{item.skuName}}</label>
      </div>
      <div class="title-font-small">
        <div class="title-font-s2">
          <label>收货规格：</label>
          <label style="color: black;">{{item.skuSpec}}</label>
        </div>
        <div class="title-font-s3">
          <label>状 态:</label>
          <label style="color: black;">收货中</label>
        </div>
        <div class="title-font-s4">
          <label>{{item.sname ==''?'暂无供应商':item.sname}}</label>

        </div>
        <div class="received">
          已经收货: <span style="color: #F59A23;">{{item.aclQty}}</span>/{{item.planQty}}
        </div>
        <div class="consignee">
          收货人: <span style="color: #F59A23;">{{item.userName}}</span>
        </div>
        <div class="ionic_right" *ngIf="i%2==0">
          <ion-icon class="iconfont  iconicon_arr_right"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载更多..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>