<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.basics.customer.mapper.CustomerMapper">
    <sql id="customerList">
        select
        c.id,
        c.code,
        c.name,
        c.simple_name,
        c.wo_id,
        owners.owner_name,
        c.country,
        c.province,
        c.city,
        c.address,
        c.zip_code,
        c.remark,
        c.create_time,
        user1.real_name as create_user,
        user2.real_name as update_user,
        c.update_time,
        IF(c.status = 1, '启用', '未启用') as status
        from basics_customers c
        LEFT JOIN blade_user user1 ON user1.id = c.create_user
        LEFT JOIN blade_user user2 ON user2.id = c.update_user
        LEFT JOIN wms_owner owners on owners.wo_id=c.wo_id
        <where>
            <if test="query.code!=null and query.code != ''">
                AND c.code LIKE concat('%',#{query.code},'%')
            </if>
            <if test="query.name!=null and query.name != ''">
                AND c.name LIKE concat('%',#{query.name},'%')
            </if>
            <if test="query.simpleName!=null and query.simpleName != ''">
                AND c.simple_name LIKE concat('%',#{query.simpleName},'%')
            </if>
            <if test="query.createTimeBegin!=null">
                AND c.create_time &gt;= #{query.createTimeBegin}
            </if>
            <if test="query.createTimeEnd!=null">
                AND c.create_time &lt;= #{query.createTimeEnd}
            </if>
            <if test="query.updateTimeBegin!=null">
                AND c.update_time &gt;= #{query.updateTimeBegin}
            </if>
            <if test="query.updateTimeEnd!=null">
                AND c.update_time &lt;= #{query.updateTimeEnd}
            </if>
            AND c.is_deleted = '0'
        </where>
    </sql>

    <select id="getPage" resultType="org.nodes.wms.dao.basics.customer.dto.output.CustomerResponse">
        <include refid="customerList"/>
        <if test="page.orders==null or page.orders.size()==0">
            order by c.create_time desc
        </if>
    </select>

    <select id="getCustomerResponseByQuery" resultType="org.nodes.wms.dao.basics.customer.dto.output.CustomerResponse">
        <include refid="customerList"/>
    </select>
    <select id="listTop10ByCodName"
            resultType="org.nodes.wms.dao.basics.customer.dto.output.CustomerSelectResponse">
        SELECT id,
               code,
               name
        FROM basics_customers
        WHERE is_deleted = 0
          AND (code LIKE CONCAT('%', #{code}, '%')
            OR name LIKE CONCAT('%', #{name}, '%'))
        ORDER BY update_time DESC
        LIMIT 10
    </select>

</mapper>
