<template>
    <basic-container>
        <nodes-curd ref="curd"
                     v-model="form"
                     :option="option"
                     :data="data"
                     :table-loading="loading"
                     :before-open="beforeOpen"
                     @on-load="onLoad"
                     @row-save="rowSave"
                     @on-del="rowDel"
                     @on-multi-del="onMultiDel"
                     @selection-change="selectionChange">
            <template slot="menuLeft">

            </template>
            <template slot="menuRight">

            </template>
            <template slot="menu">

            </template>
        </nodes-curd>
    </basic-container>
</template>

<script>
    import {getPage, getDetail, submit, remove} from "@/api/$!{cfg.servicePackage}/$!{cfg.entityKey}";
    import {group as group_1} from "@/pages/views/$!{cfg.servicePackage}/$!{cfg.entityKey}/group_1";

    export default {
        data() {
            return {
                form: {},
                query: {},
                loading: true,
                data: [],
                selectionList: [],
                option: {
                    newBtn: true,
                    multiDelBtn: true,
                    editBtn: true,
                    delBtn: true,
                    menu: true,
                    custom: false,
                    column: [
                        #foreach($field in $!{table.fields})
                            #if($!{field.name}!=$!{cfg.tenantColumn})
                {
                    label: "$!{field.comment}",
                    prop: "$!{field.propertyName}",
                    sortable: true,
                    search: true
                },
                            #end
                        #end
            ],
                    group: []
                },
            };
        },
        computed: {
            ids() {
                let ids = [];
                this.selectionList.forEach(ele => {
    #foreach($field in $!{table.fields})
        #if($!{field.keyFlag})
        ids.push(ele.$!{field.name});
        #end
    #end
    });
                return ids.join(",");
            }
        },
        mounted() {
            this.option.group.push(group_1);
        },
        methods: {
            rowSave(row, loading, done, type) {
                submit(row).then(() => {
                    loading();
                    this.onLoad(this.$refs.curd.page);
                    this.$message({
                        type: "success",
                        message: "操作成功!"
                    });
                }, error => {
                    done();
                    console.log(error);
                });
            },
            rowDel(row, index) {
                this.$confirm("确定将选择数据删除?", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                }).then(() => {
                    remove(row.id).then(() => {
                        this.onLoad(this.$refs.curd.page);
                        this.$message({
                            type: "success",
                            message: "操作成功!"
                        });
                    });
                });
            },
            onMultiDel() {
                if (!this.selectionList || this.selectionList.length === 0) {
                    this.$message.warning("请选择至少一条数据");
                    return;
                }
                this.$confirm("确定将选择数据删除?", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                }).then(() => {
                    remove(this.ids).then(() => {
                        this.onLoad(this.$refs.curd.page);
                        this.$message({
                            type: "success",
                            message: "操作成功!"
                        });
                        this.$refs.curd.toggleSelection();
                    });
                });
            },
            beforeOpen(done, type, finish) {
                if (["edit", "view"].includes(type)) {
                    getDetail(this.form.id).then(res => {
                        this.form = res.data.data;
                    }).finally(()=>{
                        done();
                    });
                }
            },
            selectionChange(list) {
                this.selectionList = list;
            },
            selectionClear() {
                this.selectionList = [];
                this.$refs.curd.toggleSelection();
            },
            onLoad(page, params = {}) {
                this.loading = true;
                getPage(page.currentPage, page.pageSize, params).then(res => {
                    const data = res.data.data;
                    this.$refs.curd.page.total = data.total;
                    this.data = data.records;
                    this.loading = false;
                    this.selectionClear();
                });
            }
        }
    };
</script>

<style>
</style>
