<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.basics.skulot.mapper.SkuLotValMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="skuLotValResultMap" type="org.nodes.wms.dao.basics.skulot.entities.SkuLotVal">
        <id column="wslv_id" property="wslvId"/>
        <result column="wh_id" property="whId"/>
        <result column="wo_id" property="woId"/>
        <result column="sku_lot_val_name" property="skuLotValName"/>
        <result column="sku_lot_remark" property="skuLotRemark"/>
        <result column="sku_lot_must1" property="skuLotMust1"/>
        <result column="sku_lot_must2" property="skuLotMust2"/>
        <result column="sku_lot_must3" property="skuLotMust3"/>
        <result column="sku_lot_must4" property="skuLotMust4"/>
        <result column="sku_lot_must5" property="skuLotMust5"/>
        <result column="sku_lot_must6" property="skuLotMust6"/>
        <result column="sku_lot_must7" property="skuLotMust7"/>
        <result column="sku_lot_must8" property="skuLotMust8"/>
        <result column="sku_lot_must9" property="skuLotMust9"/>
        <result column="sku_lot_must10" property="skuLotMust10"/>
        <result column="sku_lot_must11" property="skuLotMust11"/>
        <result column="sku_lot_must12" property="skuLotMust12"/>
        <result column="sku_lot_must13" property="skuLotMust13"/>
        <result column="sku_lot_must14" property="skuLotMust14"/>
        <result column="sku_lot_must15" property="skuLotMust15"/>
        <result column="sku_lot_must16" property="skuLotMust16"/>
        <result column="sku_lot_must17" property="skuLotMust17"/>
        <result column="sku_lot_must18" property="skuLotMust18"/>
        <result column="sku_lot_must19" property="skuLotMust19"/>
        <result column="sku_lot_must20" property="skuLotMust20"/>
        <result column="sku_lot_must21" property="skuLotMust21"/>
        <result column="sku_lot_must22" property="skuLotMust22"/>
        <result column="sku_lot_must23" property="skuLotMust23"/>
        <result column="sku_lot_must24" property="skuLotMust24"/>
        <result column="sku_lot_must25" property="skuLotMust25"/>
        <result column="sku_lot_must26" property="skuLotMust26"/>
        <result column="sku_lot_must27" property="skuLotMust27"/>
        <result column="sku_lot_must28" property="skuLotMust28"/>
        <result column="sku_lot_must29" property="skuLotMust29"/>
        <result column="sku_lot_must30" property="skuLotMust30"/>
        <result column="sku_lot_disp1" property="skuLotDisp1"/>
        <result column="sku_lot_disp2" property="skuLotDisp2"/>
        <result column="sku_lot_disp3" property="skuLotDisp3"/>
        <result column="sku_lot_disp4" property="skuLotDisp4"/>
        <result column="sku_lot_disp5" property="skuLotDisp5"/>
        <result column="sku_lot_disp6" property="skuLotDisp6"/>
        <result column="sku_lot_disp7" property="skuLotDisp7"/>
        <result column="sku_lot_disp8" property="skuLotDisp8"/>
        <result column="sku_lot_disp9" property="skuLotDisp9"/>
        <result column="sku_lot_disp10" property="skuLotDisp10"/>
        <result column="sku_lot_disp11" property="skuLotDisp11"/>
        <result column="sku_lot_disp12" property="skuLotDisp12"/>
        <result column="sku_lot_disp13" property="skuLotDisp13"/>
        <result column="sku_lot_disp14" property="skuLotDisp14"/>
        <result column="sku_lot_disp15" property="skuLotDisp15"/>
        <result column="sku_lot_disp16" property="skuLotDisp16"/>
        <result column="sku_lot_disp17" property="skuLotDisp17"/>
        <result column="sku_lot_disp18" property="skuLotDisp18"/>
        <result column="sku_lot_disp19" property="skuLotDisp19"/>
        <result column="sku_lot_disp20" property="skuLotDisp20"/>
        <result column="sku_lot_disp21" property="skuLotDisp21"/>
        <result column="sku_lot_disp22" property="skuLotDisp22"/>
        <result column="sku_lot_disp23" property="skuLotDisp23"/>
        <result column="sku_lot_disp24" property="skuLotDisp24"/>
        <result column="sku_lot_disp25" property="skuLotDisp25"/>
        <result column="sku_lot_disp26" property="skuLotDisp26"/>
        <result column="sku_lot_disp27" property="skuLotDisp27"/>
        <result column="sku_lot_disp28" property="skuLotDisp28"/>
        <result column="sku_lot_disp29" property="skuLotDisp29"/>
        <result column="sku_lot_disp30" property="skuLotDisp30"/>
        <result column="sku_lot_mix1" property="skuLotMix1"/>
        <result column="sku_lot_mix2" property="skuLotMix2"/>
        <result column="sku_lot_mix3" property="skuLotMix3"/>
        <result column="sku_lot_mix4" property="skuLotMix4"/>
        <result column="sku_lot_mix5" property="skuLotMix5"/>
        <result column="sku_lot_mix6" property="skuLotMix6"/>
        <result column="sku_lot_mix7" property="skuLotMix7"/>
        <result column="sku_lot_mix8" property="skuLotMix8"/>
        <result column="sku_lot_mix9" property="skuLotMix9"/>
        <result column="sku_lot_mix10" property="skuLotMix10"/>
        <result column="sku_lot_mix11" property="skuLotMix11"/>
        <result column="sku_lot_mix12" property="skuLotMix12"/>
        <result column="sku_lot_mix13" property="skuLotMix13"/>
        <result column="sku_lot_mix14" property="skuLotMix14"/>
        <result column="sku_lot_mix15" property="skuLotMix15"/>
        <result column="sku_lot_mix16" property="skuLotMix16"/>
        <result column="sku_lot_mix17" property="skuLotMix17"/>
        <result column="sku_lot_mix18" property="skuLotMix18"/>
        <result column="sku_lot_mix19" property="skuLotMix19"/>
        <result column="sku_lot_mix20" property="skuLotMix20"/>
        <result column="sku_lot_mix21" property="skuLotMix21"/>
        <result column="sku_lot_mix22" property="skuLotMix22"/>
        <result column="sku_lot_mix23" property="skuLotMix23"/>
        <result column="sku_lot_mix24" property="skuLotMix24"/>
        <result column="sku_lot_mix25" property="skuLotMix25"/>
        <result column="sku_lot_mix26" property="skuLotMix26"/>
        <result column="sku_lot_mix27" property="skuLotMix27"/>
        <result column="sku_lot_mix28" property="skuLotMix28"/>
        <result column="sku_lot_mix29" property="skuLotMix29"/>
        <result column="sku_lot_mix30" property="skuLotMix30"/>
        <result column="sku_lot_mix_mask1" property="skuLotMixMask1"/>
        <result column="sku_lot_mix_mask2" property="skuLotMixMask2"/>
        <result column="sku_lot_mix_mask3" property="skuLotMixMask3"/>
        <result column="sku_lot_mix_mask4" property="skuLotMixMask4"/>
        <result column="sku_lot_mix_mask5" property="skuLotMixMask5"/>
        <result column="sku_lot_mix_mask6" property="skuLotMixMask6"/>
        <result column="sku_lot_mix_mask7" property="skuLotMixMask7"/>
        <result column="sku_lot_mix_mask8" property="skuLotMixMask8"/>
        <result column="sku_lot_mix_mask9" property="skuLotMixMask9"/>
        <result column="sku_lot_mix_mask10" property="skuLotMixMask10"/>
        <result column="sku_lot_mix_mask11" property="skuLotMixMask11"/>
        <result column="sku_lot_mix_mask12" property="skuLotMixMask12"/>
        <result column="sku_lot_mix_mask13" property="skuLotMixMask13"/>
        <result column="sku_lot_mix_mask14" property="skuLotMixMask14"/>
        <result column="sku_lot_mix_mask15" property="skuLotMixMask15"/>
        <result column="sku_lot_mix_mask16" property="skuLotMixMask16"/>
        <result column="sku_lot_mix_mask17" property="skuLotMixMask17"/>
        <result column="sku_lot_mix_mask18" property="skuLotMixMask18"/>
        <result column="sku_lot_mix_mask19" property="skuLotMixMask19"/>
        <result column="sku_lot_mix_mask20" property="skuLotMixMask20"/>
        <result column="sku_lot_mix_mask21" property="skuLotMixMask21"/>
        <result column="sku_lot_mix_mask22" property="skuLotMixMask22"/>
        <result column="sku_lot_mix_mask23" property="skuLotMixMask23"/>
        <result column="sku_lot_mix_mask24" property="skuLotMixMask24"/>
        <result column="sku_lot_mix_mask25" property="skuLotMixMask25"/>
        <result column="sku_lot_mix_mask26" property="skuLotMixMask26"/>
        <result column="sku_lot_mix_mask27" property="skuLotMixMask27"/>
        <result column="sku_lot_mix_mask28" property="skuLotMixMask28"/>
        <result column="sku_lot_mix_mask29" property="skuLotMixMask29"/>
        <result column="sku_lot_mix_mask30" property="skuLotMixMask30"/>
        <result column="sku_lot_mask1" property="skuLotMask1"/>
        <result column="sku_lot_mask2" property="skuLotMask2"/>
        <result column="sku_lot_mask3" property="skuLotMask3"/>
        <result column="sku_lot_mask4" property="skuLotMask4"/>
        <result column="sku_lot_mask5" property="skuLotMask5"/>
        <result column="sku_lot_mask6" property="skuLotMask6"/>
        <result column="sku_lot_mask7" property="skuLotMask7"/>
        <result column="sku_lot_mask8" property="skuLotMask8"/>
        <result column="sku_lot_mask9" property="skuLotMask9"/>
        <result column="sku_lot_mask10" property="skuLotMask10"/>
        <result column="sku_lot_mask11" property="skuLotMask11"/>
        <result column="sku_lot_mask12" property="skuLotMask12"/>
        <result column="sku_lot_mask13" property="skuLotMask13"/>
        <result column="sku_lot_mask14" property="skuLotMask14"/>
        <result column="sku_lot_mask15" property="skuLotMask15"/>
        <result column="sku_lot_mask16" property="skuLotMask16"/>
        <result column="sku_lot_mask17" property="skuLotMask17"/>
        <result column="sku_lot_mask18" property="skuLotMask18"/>
        <result column="sku_lot_mask19" property="skuLotMask19"/>
        <result column="sku_lot_mask20" property="skuLotMask20"/>
        <result column="sku_lot_mask21" property="skuLotMask21"/>
        <result column="sku_lot_mask22" property="skuLotMask22"/>
        <result column="sku_lot_mask23" property="skuLotMask23"/>
        <result column="sku_lot_mask24" property="skuLotMask24"/>
        <result column="sku_lot_mask25" property="skuLotMask25"/>
        <result column="sku_lot_mask26" property="skuLotMask26"/>
        <result column="sku_lot_mask27" property="skuLotMask27"/>
        <result column="sku_lot_mask28" property="skuLotMask28"/>
        <result column="sku_lot_mask29" property="skuLotMask29"/>
        <result column="sku_lot_mask30" property="skuLotMask30"/>
        <result column="sku_lot_edit_type1" property="skuLotEditType1"/>
        <result column="sku_lot_edit_type2" property="skuLotEditType2"/>
        <result column="sku_lot_edit_type3" property="skuLotEditType3"/>
        <result column="sku_lot_edit_type4" property="skuLotEditType4"/>
        <result column="sku_lot_edit_type5" property="skuLotEditType5"/>
        <result column="sku_lot_edit_type6" property="skuLotEditType6"/>
        <result column="sku_lot_edit_type7" property="skuLotEditType7"/>
        <result column="sku_lot_edit_type8" property="skuLotEditType8"/>
        <result column="sku_lot_edit_type9" property="skuLotEditType9"/>
        <result column="sku_lot_edit_type10" property="skuLotEditType10"/>
        <result column="sku_lot_edit_type11" property="skuLotEditType11"/>
        <result column="sku_lot_edit_type12" property="skuLotEditType12"/>
        <result column="sku_lot_edit_type13" property="skuLotEditType13"/>
        <result column="sku_lot_edit_type14" property="skuLotEditType14"/>
        <result column="sku_lot_edit_type15" property="skuLotEditType15"/>
        <result column="sku_lot_edit_type16" property="skuLotEditType16"/>
        <result column="sku_lot_edit_type17" property="skuLotEditType17"/>
        <result column="sku_lot_edit_type18" property="skuLotEditType18"/>
        <result column="sku_lot_edit_type19" property="skuLotEditType19"/>
        <result column="sku_lot_edit_type20" property="skuLotEditType20"/>
        <result column="sku_lot_edit_type21" property="skuLotEditType21"/>
        <result column="sku_lot_edit_type22" property="skuLotEditType22"/>
        <result column="sku_lot_edit_type23" property="skuLotEditType23"/>
        <result column="sku_lot_edit_type24" property="skuLotEditType24"/>
        <result column="sku_lot_edit_type25" property="skuLotEditType25"/>
        <result column="sku_lot_edit_type26" property="skuLotEditType26"/>
        <result column="sku_lot_edit_type27" property="skuLotEditType27"/>
        <result column="sku_lot_edit_type28" property="skuLotEditType28"/>
        <result column="sku_lot_edit_type29" property="skuLotEditType29"/>
        <result column="sku_lot_edit_type30" property="skuLotEditType30"/>
        <result column="sku_len1" property="skuLen1"/>
        <result column="sku_len2" property="skuLen2"/>
        <result column="sku_len3" property="skuLen3"/>
        <result column="sku_len4" property="skuLen4"/>
        <result column="sku_len5" property="skuLen5"/>
        <result column="sku_len6" property="skuLen6"/>
        <result column="sku_len7" property="skuLen7"/>
        <result column="sku_len8" property="skuLen8"/>
        <result column="sku_len9" property="skuLen9"/>
        <result column="sku_len10" property="skuLen10"/>
        <result column="sku_len11" property="skuLen11"/>
        <result column="sku_len12" property="skuLen12"/>
        <result column="sku_len13" property="skuLen13"/>
        <result column="sku_len14" property="skuLen14"/>
        <result column="sku_len15" property="skuLen15"/>
        <result column="sku_len16" property="skuLen16"/>
        <result column="sku_len17" property="skuLen17"/>
        <result column="sku_len18" property="skuLen18"/>
        <result column="sku_len19" property="skuLen19"/>
        <result column="sku_len20" property="skuLen20"/>
        <result column="sku_len21" property="skuLen21"/>
        <result column="sku_len22" property="skuLen22"/>
        <result column="sku_len23" property="skuLen23"/>
        <result column="sku_len24" property="skuLen24"/>
        <result column="sku_len25" property="skuLen25"/>
        <result column="sku_len26" property="skuLen26"/>
        <result column="sku_len27" property="skuLen27"/>
        <result column="sku_len28" property="skuLen28"/>
        <result column="sku_len29" property="skuLen29"/>
        <result column="sku_len30" property="skuLen30"/>
    </resultMap>



</mapper>
