<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.core.instock.asn.mapper.AsnDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="detailResultMap" type="org.nodes.wms.core.instock.asn.entity.AsnDetail">
        <id column="asn_detail_id" property="asnDetailId"/>
        <result column="asn_bill_id" property="asnBillId"/>
        <result column="asn_bill_no" property="asnBillNo"/>
        <result column="asn_line_no" property="asnLineNo"/>
        <result column="asn_bill_detail_key" property="asnBillDetailKey"/>
        <result column="sku_id" property="skuId"/>
        <result column="wsp_id" property="wspId"/>
        <result column="sku_level" property="skuLevel"/>
        <result column="sku_code" property="skuCode"/>
        <result column="sku_name" property="skuName"/>
        <result column="sku_spec" property="skuSpec"/>
        <result column="convert_qty" property="convertQty"/>
        <result column="um_code" property="umCode"/>
        <result column="um_name" property="umName"/>
        <result column="base_um_code" property="baseUmCode"/>
        <result column="base_um_name" property="baseUmName"/>
        <result column="plan_qty" property="planQty"/>
        <result column="scan_qty" property="scanQty"/>
        <result column="surplus_qty" property="surplusQty"/>
        <result column="income_wh_code" property="incomeWhCode"/>
        <result column="detail_price" property="detailPrice"/>
        <result column="detail_amount" property="detailAmount"/>
        <result column="asn_detail_remark" property="asnDetailRemark"/>
        <result column="sku_lot1" property="skuLot1"/>
        <result column="sku_lot2" property="skuLot2"/>
        <result column="sku_lot3" property="skuLot3"/>
        <result column="sku_lot4" property="skuLot4"/>
        <result column="sku_lot5" property="skuLot5"/>
        <result column="sku_lot6" property="skuLot6"/>
        <result column="sku_lot7" property="skuLot7"/>
        <result column="sku_lot8" property="skuLot8"/>
        <result column="sku_lot9" property="skuLot9"/>
        <result column="sku_lot10" property="skuLot10"/>
        <result column="sku_lot11" property="skuLot11"/>
        <result column="sku_lot12" property="skuLot12"/>
        <result column="sku_lot13" property="skuLot13"/>
        <result column="sku_lot14" property="skuLot14"/>
        <result column="sku_lot15" property="skuLot15"/>
        <result column="sku_lot16" property="skuLot16"/>
        <result column="sku_lot17" property="skuLot17"/>
        <result column="sku_lot18" property="skuLot18"/>
        <result column="sku_lot19" property="skuLot19"/>
        <result column="sku_lot20" property="skuLot20"/>
        <result column="sku_lot21" property="skuLot21"/>
        <result column="sku_lot22" property="skuLot22"/>
        <result column="sku_lot23" property="skuLot23"/>
        <result column="sku_lot24" property="skuLot24"/>
        <result column="sku_lot25" property="skuLot25"/>
        <result column="sku_lot26" property="skuLot26"/>
        <result column="sku_lot27" property="skuLot27"/>
        <result column="sku_lot28" property="skuLot28"/>
        <result column="sku_lot29" property="skuLot29"/>
        <result column="sku_lot30" property="skuLot30"/>
        <result column="asn_detail_udf1" property="asnDetailUdf1"/>
        <result column="asn_detail_udf2" property="asnDetailUdf2"/>
        <result column="asn_detail_udf3" property="asnDetailUdf3"/>
        <result column="asn_detail_udf4" property="asnDetailUdf4"/>
        <result column="asn_detail_udf5" property="asnDetailUdf5"/>
        <result column="asn_detail_udf6" property="asnDetailUdf6"/>
        <result column="asn_detail_udf7" property="asnDetailUdf7"/>
        <result column="asn_detail_udf8" property="asnDetailUdf8"/>
        <result column="asn_detail_udf9" property="asnDetailUdf9"/>
        <result column="asn_detail_udf10" property="asnDetailUdf10"/>
        <result column="bill_key" property="billKey"/>
        <result column="order_no" property="orderNo"/>
        <result column="wcrep_id" property="wcrepId"/>
        <result column="attribute1" property="attribute1"/>
        <result column="attribute2" property="attribute2"/>
        <result column="attribute3" property="attribute3"/>
        <result column="attribute4" property="attribute4"/>
        <result column="attribute5" property="attribute5"/>
        <result column="attribute6" property="attribute6"/>
        <result column="attribute7" property="attribute7"/>
        <result column="attribute8" property="attribute8"/>
        <result column="attribute9" property="attribute9"/>
        <result column="attribute10" property="attribute10"/>
        <result column="attribute11" property="attribute11"/>
        <result column="attribute12" property="attribute12"/>
        <result column="attribute13" property="attribute13"/>
        <result column="attribute14" property="attribute14"/>
        <result column="attribute15" property="attribute15"/>
        <result column="attribute16" property="attribute16"/>
        <result column="attribute17" property="attribute17"/>
        <result column="attribute18" property="attribute18"/>
        <result column="attribute19" property="attribute19"/>
        <result column="attribute20" property="attribute20"/>
        <result column="attribute21" property="attribute21"/>
        <result column="attribute22" property="attribute22"/>
        <result column="attribute23" property="attribute23"/>
        <result column="attribute24" property="attribute24"/>
        <result column="attribute25" property="attribute25"/>
        <result column="attribute26" property="attribute26"/>
        <result column="attribute27" property="attribute27"/>
        <result column="attribute28" property="attribute28"/>
        <result column="attribute29" property="attribute29"/>
        <result column="attribute30" property="attribute30"/>


    </resultMap>
</mapper>
