<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.core.instock.asn.mapper.InstockSkuDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="instockSkuDetailResultMap" type="org.nodes.wms.core.instock.asn.entity.InstockSkuDetail">
        <id column="strd_id" property="strdId"/>
        <result column="ssid_id" property="ssidId"/>
        <result column="abc" property="abc"/>
        <result column="inventory_type" property="inventoryType"/>
        <result column="strd_sku_id" property="strdSkuId"/>
        <result column="loc_type" property="locType"/>
        <result column="wsp_id" property="wspId"/>
        <result column="sku_level" property="skuLevel"/>
        <result column="low_storage" property="lowStorage"/>
        <result column="high_storage" property="highStorage"/>
        <result column="loc_count" property="locCount"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectInstockSkuDetailPage" resultMap="instockSkuDetailResultMap">
        select * from st_instock_sku_detail where 1=1
    </select>

    <select id="selectBySsidId" resultMap="instockSkuDetailResultMap">
        select * from st_instock_sku_detail where ssid_id = #{ssidId}
    </select>
</mapper>
