<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.basics.carriers.mapper.CarriersMapper">

    <select id="getPage" resultType="org.nodes.wms.dao.basics.carriers.dto.output.CarrierResponse">
        select
        c.id,
        c.code,
        c.name,
        c.simple_name,
        c.wo_id,
        owners.owner_name,
        c.remark,
        c.create_time,
        user1.real_name create_user,
        user2.real_name update_user,
        c.update_time,
        c.status
        from basics_carriers c
        LEFT JOIN blade_user user1 ON user1.id = c.create_user
        LEFT JOIN blade_user user2 ON user2.id = c.update_user
        LEFT JOIN wms_owner owners on owners.wo_id=c.wo_id
        <where>
            AND c.is_deleted = '0'
            <if test="query.code!=null and query.code != ''">
                AND c.code LIKE concat('%',#{query.code},'%')
            </if>
            <if test="query.name!=null and query.name != ''">
                AND c.name LIKE concat('%',#{query.name},'%')
            </if>
            <if test="query.simpleName!=null and query.simpleName != ''">
                AND c.simple_name LIKE concat('%',#{query.simpleName},'%')
            </if>
            <if test="query.createTimeBegin!=null">
                AND c.create_time  &gt;= #{query.createTimeBegin}
            </if>
            <if test="query.createTimeEnd!=null">
                AND c.create_time  &lt;= #{query.createTimeEnd}
            </if>
            <if test="query.updateTimeBegin!=null">
                AND c.update_time  &gt;= #{query.updateTimeBegin}
            </if>
            <if test="query.updateTimeEnd!=null">
                AND c.update_time  &lt;= #{query.updateTimeEnd}
            </if>
        </where>

        <if test="page.orders==null or page.orders.size()==0">
            order by create_time desc
        </if>

    </select>
    <select id="getCarriers"  resultType="org.nodes.wms.dao.basics.carriers.dto.output.CarrierExcelResponse">
        select
        carriers.code,
        carriers.name,
        carriers.simple_name,
        owners.owner_name,
        carriers.remark,
        carriers.create_time,
        user1.real_name create_user,
        user2.real_name update_user,
        carriers.update_time,
        (CASE when carriers.status=1 Then '启用' Else '未启用' End) status
        from basics_carriers carriers
        LEFT JOIN blade_user user1 ON user1.id = carriers.create_user
        LEFT JOIN blade_user user2 ON user2.id = carriers.update_user
        LEFT JOIN wms_owner owners on owners.wo_id=carriers.wo_id
        <where>
            AND carriers.is_deleted = '0'
            <if test="query.code!=null and query.code != ''">
                AND carriers.code LIKE concat('%',#{query.code},'%')
            </if>
            <if test="query.name!=null and query.name != ''">
                AND carriers.name LIKE concat('%',#{query.name},'%')
            </if>
            <if test="query.simpleName!=null and query.simpleName != ''">
                AND carriers.simple_name LIKE concat('%',#{query.simpleName},'%')
            </if>
        </where>

    </select>
</mapper>
