# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
gradle/
.gradle/
node_modules/
tmp/
temp/
build/
/plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
www/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
platforms/browser/
platforms/
platforms/android/cordova-plugin-barcodeplugin/
platforms/android/app/src/main/java/io/github/
platforms/android/app/src/main/java/com/android/plugins/
platforms/android/app/src/main/java/io/ionic/
platforms/android/app/src/main/java/nl/
platforms/android/app/src/main/java/org/
platforms/android/app/src/main/java/uk/
platforms/android/app/src/main/java/com/nodes/
platforms/android/app/src/main/res/xml/opener_paths.xml
#!platforms/android/CordovaLib/build.gradle
#!platforms/android/android.keystore
#!platforms/android/app/build.gradle
#!platforms/android/build.gradle
#!platforms/android/cordova/
#!platforms/android/cordova/node_modules/
#!platforms/android/release-signing.properties
#!cordova_plugin/autoid9Plugin/www/autoid9Plugin.js
