<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.warehouse.mapper.WarehousesMapper">


    <select id="getWarehouseSelectResponseList" resultType="org.nodes.wms.dao.application.dto.output.WarehouseResponse">
        SELECT
            wh_code value,
            wh_name label
        FROM
            wms_warehouse
    </select>
</mapper>
