<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.count.mapper.CountDetailMapper">

    <delete id="deleteByCountDetailId">
        delete from wms_count_detail
        where
        count_detail_id in
        <foreach collection="countDetailIdList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </delete>

    <select id="getStockCountDetailBySkuSpec"
            resultType="org.nodes.wms.dao.count.dto.output.PdaStockCountDetailBySkuSpecResponse">
        select s.wh_id,
        w.wh_name,
        s.loc_id,
        s.loc_code,
        s.box_code,
        s.sku_id,
        s.sku_code,
        s.sku_name,
        cd.count_bill_no,
        l.last_loc_count_date,
        ch.count_bill_state,
        s.sku_lot2
        from wms_stock s
        LEFT JOIN wms_warehouse w
        on s.wh_id = w.wh_id
        LEFT JOIN wms_count_detail cd
        on s.box_code = cd.box_code
        LEFT JOIN wms_location l
        on s.loc_id = l.loc_id
        left join wms_count_header ch on cd.count_bill_no = ch.count_bill_no
        <where>
            <if test="param.skuLot2 != null and param.skuLot2 != ''">
                AND s.sku_lot2 = #{param.skuLot2}
            </if>
            <if test="param.zoneId != null and param.zoneId.size > 0">
                AND s.zone_id in
                <foreach collection="param.zoneId" close=")" open="(" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY s.loc_code, s.box_code, s.sku_code
        ORDER BY s.box_code desc
    </select>

</mapper>
