<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.instock.asn.mapper.AsnDetailMapper">
    <select id="selectAsnDetailId" resultType="java.lang.Long">
        SELECT asn_detail_id FROM asn_detail WHERE asn_bill_id IN
        <foreach collection="asnBillIdList" close=")" open="(" item="item" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="selectAsnDetailByAsnBillId"
            resultType="org.nodes.wms.dao.instock.asn.entities.AsnDetail">
        SELECT asn_detail_id,
               asn_line_no,
               sku_id,
               sku_code,
               sku_name,
               sku_spec,
               plan_qty,
               scan_qty,
               remark
        FROM asn_detail
        WHERE asn_bill_id = #{asnBillId} AND is_deleted = 0
    </select>

    <select id="selectAsnDetailForDetailByAsnBillId"
            resultType="org.nodes.wms.dao.instock.asn.dto.output.AsnDetailForDetailResponse">
        SELECT asn_detail_id,
               asn_line_no,
               sku_code,
               sku_name,
               sku_spec,
               um_name,
               plan_qty,
               scan_qty,
               surplus_qty,
               remark,
               detail_status
        FROM asn_detail
        WHERE asn_bill_id = #{asnBillId}
        <if test="page.orders == null or page.orders.size == 0">
            ORDER BY create_time
        </if>
    </select>
</mapper>
