<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.instock.asn.mapper.AsnHeaderMapper">

    <select id="selectPageAsnBill" resultType="org.nodes.wms.dao.instock.asn.dto.output.PageResponse">
        SELECT h.asn_bill_id,
        h.asn_bill_no,
        h.asn_bill_state,
        b.bill_type_name as billTypeName,
        h.supplier_code,
        h.supplier_name,
        h.external_order_no,
        h.external_create_user,
        w.wh_name as whName,
        h.asn_bill_remark,
        h.create_time,
        u.real_name as createUser,
        h.update_time
        FROM asn_header h
        LEFT JOIN blade_user u
        ON h.create_user = u.id
        LEFT JOIN wms_bill_type b
        ON h.bill_type_cd = b.bill_type_cd
        LEFT JOIN wms_warehouse w
        ON h.wh_id = w.wh_id
        <where>
            h.is_deleted = 0
            <if test="params.asnBillNo != null and params.asnBillNo != ''">
                AND h.asn_bill_no = #{params.asnBillNo}
            </if>
            <if test="params.skuIdList != null and params.skuIdList.size >0">
                    AND d.sku_code IN
                <foreach collection="params.skuIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="params.asnBillStateList != null and params.asnBillStateList.size >0">
                AND h.asn_bill_state IN
                <foreach collection="params.asnBillStateList" separator="," item="item" open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="params.createTimeBegin != null ">
                AND h.create_time &gt;= #{params.createTimeBegin}
            </if>
            <if test="params.createTimeEnd != null">
                AND h.create_time &lt;= #{params.createTimeEnd}
            </if>
            <if test="params.supplier != null and params.supplier != ''">
                AND (h.supplier_code LIKE concat('%',#{params.supplier},'%') OR h.supplier_name LIKE
                concat('%',#{params.supplier},'%'))
            </if>
            <if test="params.externalOrderNo != null and params.externalOrderNo != ''">
                AND h.external_order_no = #{params.externalOrderNo}
            </if>
            <if test="params.externalCreateUser != null and params.externalCreateUser != ''">
                AND h.external_create_user = #{params.externalCreateUser}
            </if>
            <if test="params.whIdList != null and params.whIdList.size >0">
                AND h.wh_id IN
                <foreach collection="params.whIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test=" page.orders == null or page.orders.size == 0 ">
                ORDER BY create_time DESC
            </if>
        </where>

    </select>

    <select id="selectAsnContactDetail"
            resultMap="asnDetailMap">
        SELECT h.asn_bill_id,
               h.asn_bill_no,
               b.bill_type_name as billTypeName,
               h.supplier_code,
               h.supplier_name,
               h.asn_bill_remark,
               h.create_time,
               h.create_user,
               w.wh_code ,
               w.wh_name,
               d.asn_detail_id,
               d.asn_line_no,
               d.sku_code,
               d.sku_name,
               d.um_name,
               d.plan_qty,
               d.scan_qty,
               d.remark,
               d.detail_status,
               r.receive_id,
               r.receive_no,
               r.bill_state,
               r.remark      as receive_remark,
               r.create_time as receive_create_time,
               u1.real_name as receive_create_user,
               r.update_time as receive_update_time,
               u2.real_name as receive_update_time
        FROM asn_header h
                 LEFT JOIN asn_detail d ON h.asn_bill_id = d.asn_bill_id
                 LEFT JOIN wms_warehouse w ON h.wh_id = w.wh_id
                 LEFT JOIN receive_header r ON h.asn_bill_id = r.asn_bill_id
                 LEFT JOIN wms_bill_type b ON h.bill_type_cd = b.bill_type_cd
                 LEFT JOIN blade_user u1 ON h.create_user = u1.id
                 LEFT JOIN blade_user u2 ON h.create_user = u2.id
        WHERE h.asn_bill_id = #{id} and h.is_deleted = 0
    </select>

    <resultMap id="asnDetailMap" type="org.nodes.wms.dao.instock.asn.dto.output.AsnDetailResponse">
        <id column="asn_bill_id" property="asnBillId"/>
        <result column="asn_bill_no" property="asnBillNo"/>
        <result column="bill_type_cd" property="billTypeName"/>
        <result column="supplier_code" property="supplierCode"/>
        <result column="supplier_name" property="supplierName"/>
        <result column="asn_bill_remark" property="asnBillRemark"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="wh_code" property="whCode"/>
        <result column="wh_name" property="whName"/>

        <collection property="asnDetailList" ofType="org.nodes.wms.dao.instock.asn.dto.output.AsnPropertyDetailResponse">
            <id column="asn_detail_id" property="asnDetailId"/>
            <result column="asn_line_no" property="asnLineNo"/>
            <result column="sku_code" property="skuCode"/>
            <result column="sku_name" property="skuName"/>
            <result column="um_name" property="umName"/>
            <result column="plan_qty" property="planQty"/>
            <result column="scan_qty" property="scanQty"/>
            <result column="remark" property="remark"/>
            <result column="detail_status" property="detailStatus"/>
        </collection>

        <collection property="receiveHeaderList"
                    ofType="org.nodes.wms.dao.instock.asn.dto.output.AsnPropertyReceiveResponse">
            <id column="receive_id" property="receiveId"/>
            <result column="receive_no" property="receiveNo"/>
            <result column="bill_state" property="billState"/>
            <result column="receive_remark" property="remark"/>
            <result column="receive_create_time" property="createTime"/>
            <result column="receive_create_user" property="createUser"/>
            <result column="receive_create_time" property="updateTime"/>
            <result column="receive_create_user" property="updateUser"/>
        </collection>
    </resultMap>

    <select id="selectAsnBillList" resultType="org.nodes.wms.dao.instock.asn.dto.output.AsnBillExportResponse">
        SELECT
        h.asn_bill_id,
        h.asn_bill_no,
        h.asn_bill_state,
        b.bill_type_name as billTypeName,
        h.supplier_code,
        h.supplier_name,
        h.external_order_no,
        u2.real_name as externalCreateUser,
        w.wh_name as whName,
        h.asn_bill_remark,
        h.create_time,
        u1.real_name as createUser,
        h.update_time
        FROM asn_header h
        LEFT JOIN asn_detail d
        ON h.asn_bill_id = d.asn_bill_id
        LEFT JOIN blade_user u1
        ON h.create_user = u1.id
        LEFT JOIN blade_user u2
        ON h.create_user = u2.id
        LEFT JOIN wms_bill_type b
        ON h.bill_type_cd = b.bill_type_cd
        LEFT JOIN wms_warehouse w
        ON h.wh_id = w.wh_id
        <where>
            h.is_deleted = 0
            <if test="params.asnBillNo != null and params.asnBillNo != ''">
                AND h.asn_bill_no = #{params.asn_bill_no}
            </if>
            <if test="params.sku != null">
                <if test="params.sku.skuCode != null and params.sku.skuCode != ''">
                    AND d.sku_code = #{params.sku.skuCode}
                </if>
            </if>
            <if test="params.asnBillStateList != null and params.asnBillStateList.size >0">
                AND h.asn_bill_state in
                <foreach collection="params.asnBillStateList" separator="," item="item" open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="params.createTimeBegin != null ">
                AND h.create_time &gt;= #{params.createTimeBegin}
            </if>
            <if test="params.createTimeEnd != null">
                AND h.create_time &lt;= #{params.createTimeEnd}
            </if>
            <if test="params.supplier != null and params.supplier != ''">
                AND (h.supplier_code LIKE concat('%',#{params.supplier},'%') OR h.supplier_name LIKE
                concat('%',#{params.supplier},'%'))
            </if>
            <if test="params.externalOrderNo != null and params.externalOrderNo != ''">
                AND h.external_order_no = #{params.external_order_no}
            </if>
            <if test="params.externalCreateUser != null and params.externalCreateUser != ''">
                AND h.external_create_user = #{params.external_create_user}
            </if>
            <if test="params.whIdList != null and params.whIdList.size >0">
                AND h.wh_id IN
                <foreach collection="params.whIdList" open="(" close=")" separator="," item="item">
                    {#item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectAsnHeaderByAsnBillId"
            resultType="org.nodes.wms.dao.instock.asn.entities.AsnHeader">
        SELECT
            asn_bill_id,
            asn_bill_no,
            wh_id,
            bill_type_cd,
            supplier_id,
            supplier_code,
            supplier_name,
            asn_bill_remark
        FROM asn_header
        WHERE asn_bill_id = #{asnBillId} AND is_deleted = 0
    </select>
</mapper>
