page-merge-tray {
    .content-ios {
        background-color: $bgcolor;
    }
    .selected {
        border-bottom: 5px solid #33cbcc !important;
    }
    .flex_content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .scroll-content {
        // overflow-y: hidden;
        display: flex;
        flex-direction: column;
        height: inherit;
        padding-top: 88px;
        padding-bottom: 45px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .chk_1 {
        position: relative;
        left: 3px;
    }
    .chk_1 + label {
        background-color: #fff;
        border: 1px solid #c1caca;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 9px;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        z-index: 2;
        right: 15px;
    }
    .chk_1 + label:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }
    .chk_1:checked + label {
        background-color: #ecf2f7;
        border: 1px solid #92a1ac;
        color: #243441;
    }
    .chk_1:checked + label:after {
        content: "\2714";
        position: absolute;
        top: -8px;
        left: 1px;
        color: #758794;
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding: 1px 0 0 0;
        vertical-align: text-top;
    }
    .list-ios ion-item-options {
        padding-top: 3px;
    }
    .list-ios ion-item-options .button {
        width: 60px;
    }
    .list-ios ion-item-options .button:last-child {
        padding: 0;
    }
    .nodes-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            .left-2 {
                display: flex;
                flex-direction: column;
                white-space: pre-wrap;
                overflow: auto;
                word-break: break-all;
                > div {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .right {
            > div {
                font-weight: bold;
                color: black;
            }
        }
    }
    // .title-ms {
    //     width: 100%;
    //     height: auto;
    //     background: white;
    //     font-size: 14px;
    //     border-top: 5px solid $bgcolor;
    //     border-bottom: 5px solid $bgcolor;
    // }
    .btn-box {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        button {
            width: 50%;
        }
    }
    .button-ios {
        border-radius: 0px;
        margin: 0;
        padding: 0;
    }
    // ion-label {
    //     width: 70px;
    //     text-align: justify;
    //     text-align-last: justify;
    //     flex: none !important;
    // }
    .head_lable {
        margin-bottom: 1rem;
    }
    /*已扫描物品*/
    .list_item_serial {
        background-color: white;
        .list_item_title {
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
            padding-right: 5px;
        }
        span:first-child {
            display: inline-block;
            b {
                color: orange;
            }
            ion-icon {
                font-size: 3rem;
            }
        }
        span:nth-child(2) {
            ion-icon {
                font-size: 3rem;
                color: #666666;
            }
        }
        span:last-child {
            display: inline-block;
            b {
                color: $titlecolor;
            }
            ion-icon {
                font-size: 1.7rem;
                color: #666666;
            }
            .button-ios {
                height: 100%;
                background-color: white;
            }
        }
        span {
            margin-top: 3px;
            padding-bottom: 0.5rem;
        }
        div {
            height: 3rem;
        }
        .list_item_div item-inner {
            border-bottom: 0px solid #c8c7cc;
        }
    }
    .list-ios ion-item-sliding {
        background-color: $bgcolor !important;
    }
    .list_item_div {
        flex-grow: 1;
        margin: 0;
        height: 100%;
        .item-block {
            height: 100%;
            width: 100%;
            min-height: 30px;
        }
        // 去掉item下划线
        .list-ios .item-block .item-inner {
            border-bottom: 0 !important;
        }
        .item-ios.item-block .item-inner {
            border-bottom: 0 !important;
        }
        .item-block {
            margin-top: 3px;
        }
        ion-scroll {
            height: 100%;
        }
        ion-scroll.scroll-y .scroll-content {
            padding: 0;
        }
        .scroll-zoom-wrapper {
            height: 100%;
        }
    }
    .title-ms {
        position: relative;
        background-color: white;
    }
    .title-ms-info .button-ios {
        position: absolute;
        top: 5%;
        left: 3%;
        height: 20px;
        font-size: 10px;
        width: 20px;
        color: #fff;
        background-color: #33cbcc;
    }
    .title-ms-info {
        position: relative;
        font-size: 12px;
        div {
            margin-top: 5px;
        }
        span:nth-child(1) {
            color: $font888383;
        }
        .spec-msg {
            color: #008080;
            //position: absolute;
            bottom: 0rem;
            right: 1rem;
            font-weight: bold;
        }
        .number-msg {
            color: #008080;
            position: absolute;
            bottom: 2rem;
            right: 0rem;
            font-weight: bold;
        }
        .spec-msg-dropdown {
            color: black;
        }
    }
    // 修改checkbox样式
    .item.item-ios .checkbox-ios {
        position: static;
        display: block;
        margin: 8px 13px 8px 2px;
    }
    // @media only screen and (min-height: 768px) and (min-width: 768px) {
    //     .modal-wrapper {
    //         z-index: 10;
    //         height: 100%;
    //         contain: strict;
    //     }
    // }
    ion-label {
        opacity: 1 !important;
    }
    .merge_tray_set {
        > .item-block {
            height: auto;
            min-height: auto;
        }
    }
}
