.submit-button {
	background-color: $theme-backgroup-color;
	color: $theme-fore-color;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	// flex-direction: row;
	// // justify-content: space-between;
	// // align-items: stretch;
	// padding: 0;
	// color: #fff;
	// line-height: 100rpx;
	// flex: 0 0 100rpx;
	.btn-submit {
		font-size: $theme-font-size;
		text-align: center;
		background-color: $theme-backgroup-color;
		color: $theme-fore-color;
		width: 100%;
		margin: 0;
	    height: 130rpx;
		line-height: 130rpx;
	}
	
	.btn-cancle {
		font-size: $theme-font-size;
		text-align: center;
		background-color: $theme-second-backgroup-color;
		color: $theme-fore-color;
		width: 100%;
		margin: 0;
	    height: 130rpx;
		line-height: 130rpx;
	}
}

//行左侧文字样式
.left-text-one-line {
	margin-left: 20rpx!important;
	margin-top: 0rpx!important;
	.u-form-item__body__left__content__label{
		font-size: $theme-font-size!important;
	}
}

//表单输入框文字样式
.uni-input-input{
	font-size: $theme-font-size!important;
}

//app页面字体样式
.font-in-page{
	font-size: $theme-font-size!important;
}

//导航栏左边字体样式
.u-navbar__content__left__text{
	font-size: $theme-font-size!important;
}

//导航栏右边字体样式
.u-navbar__content__right__text{
	font-size: $theme-font-size!important;
}

.swipe-action {
    &__content {
        padding: 25rpx 0;
        &__text {
        font-size: 15px;
        color: $u-main-color;
        padding-left: 30rpx;
        }
    }
}


