
.menu{
}

.menu .menu-item {
    border-bottom: 5px solid $bgcolor;
    border-right: 5px solid $bgcolor;
    padding-top: 10px;
    height: 250rpx;
    background-color: white;
}

.menu .menu-item .menu-number{
    display: block;
	text-align: center;
	//line-height: 100px;
	color: #7f7f7f;
	margin-top: 10px;
	font-weight: bold;
    border: 1px solid $titlecolor;
    margin-top: 3px;
    width: 20px;
    margin: 0 auto;
    border-radius: 30px;	
}

.menu .menu-item .menu-icon{
	// font-size: 80rpx;
  font-size: 40px;
  color: $titlecolor;
  margin-top: 5px;
}

.menu .menu-item .menu-text {
	  display: block;
	  text-align: center;
	  //line-height: 100px;
	  color: #7f7f7f;
	  margin-top: 10px;
	  font-weight: bold;
}