<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.core.system.mapper.UserOnlineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userOnlineResultMap" type="org.nodes.wms.core.system.entity.UserOnline">
        <id column="suo_id" property="suoId"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="user_id" property="userId"/>
        <result column="user_code" property="userCode"/>
        <result column="user_name" property="userName"/>
        <result column="user_type" property="userType"/>
        <result column="mobile_phone" property="mobilePhone"/>
        <result column="domain_user" property="domainUser"/>
        <result column="online_terminal" property="onlineTerminal"/>
        <result column="token" property="token"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="mac_address" property="macAddress"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="login_status" property="loginStatus"/>
    </resultMap>
</mapper>
