<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.outstock.so.mapper.SoHeaderMapper">

    <sql id="pageOrList">
        SELECT
        sh.so_bill_id,
        sh.so_bill_no,
        sh.order_no,
        bt.bill_type_name,
        sh.so_bill_state,
        sh.customer_code,
        sh.customer_name,
        sh.express_code,
        sh.address,
        wh.wh_name,
        sh.create_time,
        u1.real_name as create_user,
        sh.so_bill_remark
        FROM so_header sh
        LEFT JOIN blade_user u1 ON sh.create_user = u1.id
        LEFT JOIN wms_bill_type bt ON sh.bill_type_cd = bt.bill_type_cd
        LEFT JOIN wms_warehouse wh ON sh.wh_id = wh.wh_id
        LEFT JOIN basics_customers c ON sh.customer_code = c.code
        <where>
            sh.is_deleted = 0
            <if test="params.soBillNo != null and params.soBillNo != ''">
                AND sh.so_bill_no LIKE CONCAT('%', #{params.soBillNo}, '%')
            </if>
            <if test="params.orderNo != null and params.orderNo != ''">
                AND sh.order_no LIKE CONCAT('%', #{params.orderNo}, '%')
            </if>
            <if test="params.billTypeCdList != null and params.billTypeCdList.size >0">
                AND sh.bill_type_cd IN
                <foreach collection="params.billTypeCdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="params.soBillStateList != null and params.soBillStateList.size >0">
                AND sh.so_bill_state IN
                <foreach collection="params.soBillStateList" separator="," item="item" open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="params.customerList != null and params.customerList.size >0">
                AND c.id IN
                <foreach collection="params.customerList" open="(" close=")" separator="," item="item">
                    #{item.id}
                </foreach>
            </if>
            <if test="params.whIdList != null and params.whIdList.size >0">
                AND sh.wh_id IN
                <foreach collection="params.whIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="params.createTimeBegin != null ">
                AND sh.create_time &gt;= #{params.createTimeBegin}
            </if>
            <if test="params.createTimeEnd != null">
                AND sh.create_time &lt;= #{params.createTimeEnd}
            </if>
            <if test="params.createUser != null and params.createUser != ''">
                AND u1.real_name LIKE CONCAT('%', #{params.createUser}, '%')
            </if>
        </where>
    </sql>

    <select id="page" resultType="org.nodes.wms.dao.outstock.so.dto.output.SoHeaderPageResponse">
        <include refid="pageOrList"/>
        <if test=" page.orders == null or page.orders.size == 0">
            ORDER BY sh.create_time DESC
        </if>
    </select>

    <select id="selectSoHeaderEditBySoBillId"
            resultMap="soHeaderMap">
        SELECT so_bill_id,
               so_bill_no,
               bill_type_cd,
               wh_id,
               header.wo_id,
               customer.id,
               customer.code,
               customer.name,
               contact,
               transport_code,
               outstock_type,
               so_bill_remark,
               header.address,
               header.express_code
        FROM so_header header
                 LEFT JOIN basics_customers customer ON customer.code = header.customer_code
        WHERE header.so_bill_id = #{soBillId}
          AND header.is_deleted = 0
    </select>

    <resultMap id="soHeaderMap" type="org.nodes.wms.dao.outstock.so.dto.output.SoHeaderEditResponse">
        <id property="soBillId" column="so_bill_id"/>
        <result property="soBillNo" column="so_bill_no"/>
        <result property="billTypeCd" column="bill_type_cd"/>
        <result property="whId" column="wh_id"/>
        <result property="woId" column="wo_id"/>
        <result property="transportCode" column="transport_code"/>
        <result property="outstockType" column="outstock_type"/>
        <result property="soBillRemark" column="so_bill_remark"/>
        <result property="contact" column="contact"/>
        <result property="address" column="address"/>
        <result property="expressCode" column="express_code"/>
        <association property="customer" javaType="org.nodes.wms.dao.basics.customer.dto.output.CustomerSelectResponse">
            <id column="id" property="id"/>
            <result column="code" property="code"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

    <select id="selectSoHeaderForDetailById"
            resultType="org.nodes.wms.dao.outstock.so.dto.output.SoHeaderForDetailResponse">
        SELECT header.so_bill_no,
               header.bill_type_cd,
               header.address          as address,
               header.express_code     as express_code,
               billType.bill_type_name as bill_type_name,
               customer.name           as customer_name,
               header.contact,
               `owner`.owner_name,
               warehouse.wh_name,
               dict1.dict_value        as outstock_type,
               dict2.dict_value        as transport_type,
               header.so_bill_remark
        FROM so_header header
                 LEFT JOIN basics_customers customer ON header.customer_code = customer.code
                 LEFT JOIN wms_warehouse warehouse ON header.wh_id = warehouse.wh_id
                 LEFT JOIN wms_owner `owner` ON header.wo_id = `owner`.wo_id
                 LEFT JOIN blade_dict dict1 ON header.outstock_type = dict1.dict_key AND dict1.code = 'outstore_type'
                 LEFT JOIN blade_dict dict2
                           ON header.transport_code = dict2.dict_key AND dict2.code = 'so_transport_code'
                 LEFT JOIN wms_bill_type billType ON header.bill_type_cd = billType.bill_type_cd
        WHERE header.is_deleted = 0
          AND header.so_bill_id = #{id}
    </select>

    <select id="listByQuery" resultType="org.nodes.wms.dao.outstock.so.dto.output.SoHeaderExcelResponse">
        <include refid="pageOrList"/>
    </select>

    <select id="selectSoHeaderResponseById"
            resultType="org.nodes.wms.dao.outstock.so.dto.output.PickByPcSoHeaderResponse">
        select so_bill_no,
               order_no,
               wh_code,
               wh_id
        from so_header
        where so_bill_id = #{soBillId}
    </select>

    <select id="getAllPickPage" resultType="org.nodes.wms.dao.outstock.logSoPick.dto.output.FindAllPickingResponse">
        select h.so_bill_id,h.so_bill_no,b.bill_type_name,u.name user_name from so_header h
        left join wms_bill_type b
        on h.bill_type_cd=b.bill_type_cd
        left join blade_user u
        on h.create_user = u.id
        <where>
            <if test="params.no!=null and params.no != '' and params.whId!=null and params.whId != ''">
                AND h.so_bill_no like concat('%',#{params.no},'%') AND
                h.wh_id = #{params.whId} AND h.is_deleted=0 and h.status =
                1 AND h.so_bill_state IN
                <foreach collection="params.soBillState" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
                OR h.order_no like concat('%',#{params.no},'%') AND
                h.wh_id = #{params.whId} AND h.is_deleted=0 and h.status =
                1 AND h.so_bill_state IN
                <foreach collection="params.soBillState" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
        order by h.create_time desc
    </select>
</mapper>

