<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.core.base.mapper.NodesCurdColumnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="nodesCurdColumnResultMap" type="org.nodes.core.base.entity.NodesCurdColumn">
        <result column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="menu_id" property="menuId"/>
        <result column="parent_id" property="parentId"/>
        <result column="user_id" property="userId"/>
        <result column="sort" property="sort"/>
        <result column="prop" property="prop"/>
        <result column="label" property="label"/>
        <result column="alias_name" property="aliasName"/>
        <result column="hide" property="hide"/>
        <result column="fixed" property="fixed"/>
        <result column="width" property="width"/>
        <result column="attribute1" property="attribute1"/>
        <result column="attribute2" property="attribute2"/>
    </resultMap>


</mapper>
