<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.lendreturn.mapper.LogNoReturnMapper">

    <delete id="deleteBySoDetailId">
        DELETE FROM log_no_return WHERE detail_id = #{soDetailId}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM log_no_return WHERE id IN
        <foreach collection="ids" separator="," close=")" open="(" item="item">
            #{item}
        </foreach>
    </delete>
</mapper>
