<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.basics.billType.mapper.BillTypeMapper">

	<select id="listByIoType" resultType="org.nodes.wms.dao.basics.billType.dto.BillTypeSelectResponse">
		SELECT bill_type_id,
               bill_type_cd,
               bill_type_name
		FROM wms_bill_type
		<where>
		    <if test="ioType != null and ioType != ''">
                io_type = #{ioType}
            </if>
        </where>
		ORDER BY update_time DESC
	</select>
</mapper>
