.submit-button {
	background-color: $theme-backgroup-color;
	color: $theme-fore-color;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	// flex-direction: row;
	// // justify-content: space-between;
	// // align-items: stretch;
	// padding: 0;
	// color: #fff;
	// line-height: 100rpx;
	// flex: 0 0 100rpx;
	.btn-submit {
		font-size: $theme-font-size;
		text-align: center;
		background-color: $theme-backgroup-color;
		color: $theme-fore-color;
		width: 100%;
		margin: 0;
	    height: 130rpx;
		line-height: 130rpx;
	}
	
	.btn-cancle {
		font-size: $theme-font-size;
		text-align: center;
		background-color: $theme-second-backgroup-color;
		color: $theme-fore-color;
		width: 100%;
		margin: 0;
	    height: 130rpx;
		line-height: 130rpx;
	}
}

//全局文字排布
.textAlignClass {
	margin-left: 20rpx!important;
	margin-top: 0rpx!important;
	.u-form-item__body__left__content__label{
		font-size: 40rpx!important;
	}
}

//表单输入框 全局样式
.uni-input-input{
	font-size: 40rpx!important;
}