.submit-button {
	background-color: $theme-backgroup-color;
	color: $theme-fore-color;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 98;
	height: 140rpx;
	width: 100%;
	display: flex;
	flex-direction: row;
	// justify-content: space-between;
	// align-items: stretch;
	padding: 0;
	
	.btn-submit {
		font-size: $theme-font-size;
		text-align: center;
		background-color: $theme-backgroup-color;
		color: $theme-fore-color;
		width: 100%;
		margin: 0;
	    height: 130rpx;
		line-height: 130rpx;
	}
	
	.btn-cancle {
		font-size: $theme-font-size;
		text-align: center;
		background-color: $theme-second-backgroup-color;
		color: $theme-fore-color;
		width: 100%;
		margin: 0;
	    height: 130rpx;
		line-height: 130rpx;
	}
}