.submit-button {
	background-color: $theme-backgroup-color;
	color: $theme-fore-color;
}

.bottom-submit-button{
	width: 50%;
	position: fixed;
	bottom: 0;
	margin-left: 49%;
	background-color: $theme-backgroup-color;
}

.bottom-esc-button{
	width: 50%;
	position: fixed;
	bottom: 0;
	background-color: $theme-second-backgroup-color;
}