<div *ngIf="ComponentFlag">
  <ion-item *ngIf="locCodeFlag">
    <ion-label>库位编码：</ion-label>
    <ion-input [disabled]='locDisabled' maxlength='30' type="text" [(ngModel)]="locCode">
    </ion-input>
  </ion-item>
  <div class="list_item">
    <ion-item *ngIf="skuCodeFlag">
      <ion-label>物品编码：</ion-label>
      <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skucode"></ion-input>
    </ion-item>
  </div>
  <ion-item *ngIf="skuNameFlag">
    <ion-label>物品名称：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuname">
    </ion-input>
  </ion-item>
  <ion-item *ngIf="qtyFlag">
    <ion-label>数量：</ion-label>
    <ion-input [disabled]='qtyDisabled' maxlength='30' type="number" [(ngModel)]="scanModel.qty">
    </ion-input>
    <ion-select [disabled]='EidtFlag' [(ngModel)]="scanModel.um" cancelText="取消">
      <ion-option [value]="scanModel.um">{{scanModel.um}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="!isCopyLabel&&scanModel.skuLotModel.skuLotName1!=null &&scanModel.skuLotModel.skulot1!='' ">
    <ion-label>{{scanModel.skuLotModel.skuLotName1}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot1">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="!isCopyLabel&&scanModel.skuLotModel.skuLotName2!=null &&scanModel.skuLotModel.skulot2!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName2}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot2">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="!isCopyLabel&&scanModel.skuLotModel.skuLotName3!=null &&scanModel.skuLotModel.skulot3!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName3}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot3">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="!isCopyLabel&&scanModel.skuLotModel.skuLotName4!=null &&scanModel.skuLotModel.skulot4!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName4}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot4">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="!isCopyLabel&&scanModel.skuLotModel.skuLotName5!=null&&scanModel.skuLotModel.skuLotName5!='' &&scanModel.skuLotModel.skulot5!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName5}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot5">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="!isCopyLabel&&scanModel.skuLotModel.skuLotName6!=null &&scanModel.skuLotModel.skulot6!='' ">
    <ion-label>{{scanModel.skuLotModel.skuLotName6}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot6">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="!isCopyLabel&&scanModel.skuLotModel.skuLotName7!=null &&scanModel.skuLotModel.skulot7!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName7}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot7">
    </ion-input>
  </ion-item>

  
  <ion-item *ngIf="!isCopyLabel&&scanModel.skuLotModel.skuLotName8!=null &&scanModel.skuLotModel.skulot8!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotNam8}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot8">
    </ion-input>
  </ion-item>

  
  <ion-item *ngIf="!isCopyLabel&&scanModel.skuLotModel.skuLotName9!=null &&scanModel.skuLotModel.skulot9!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName9}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot9">
    </ion-input>
  </ion-item>

  
  <ion-item *ngIf="!isCopyLabel&&scanModel.skuLotModel.skuLotName10!=null &&scanModel.skuLotModel.skulot10!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName10}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot10">
    </ion-input>
  </ion-item>



  <ion-item *ngIf="isCopyLabel&&scanModel.skuLotModel.skuLotName1!=null &&scanModel.skuLotModel.skuLotName1!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName1}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot1">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="isCopyLabel&&scanModel.skuLotModel.skuLotName2!=null &&scanModel.skuLotModel.skuLotName2!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName2}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot2">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="isCopyLabel&&scanModel.skuLotModel.skuLotName3!=null &&scanModel.skuLotModel.skuLotName3!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName3}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot3">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="isCopyLabel&&scanModel.skuLotModel.skuLotName4!=null &&scanModel.skuLotModel.skuLotName4!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName4}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot4">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="isCopyLabel&&scanModel.skuLotModel.skuLotName5!=null &&scanModel.skuLotModel.skuLotName5!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName5}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot5">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="isCopyLabel&&scanModel.skuLotModel.skuLotName6!=null &&scanModel.skuLotModel.skuLotName6!='' ">
    <ion-label>{{scanModel.skuLotModel.skuLotName6}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot6">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="isCopyLabel&&scanModel.skuLotModel.skuLotName7!=null &&scanModel.skuLotModel.skuLotName7!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName7}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot7">
    </ion-input>
  </ion-item>

  
  <ion-item *ngIf="isCopyLabel&&scanModel.skuLotModel.skuLotName8!=null &&scanModel.skuLotModel.skuLotName8!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotNam8}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot8">
    </ion-input>
  </ion-item>

  
  <ion-item *ngIf="isCopyLabel&&scanModel.skuLotModel.skuLotName9!=null &&scanModel.skuLotModel.skuLotName9!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName9}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot9">
    </ion-input>
  </ion-item>

  
  <ion-item *ngIf="isCopyLabel&&scanModel.skuLotModel.skuLotName10!=null &&scanModel.skuLotModel.skuLotName10!=''">
    <ion-label>{{scanModel.skuLotModel.skuLotName10}}：</ion-label>
    <ion-input [disabled]='EidtFlag' maxlength='30' type="text" [(ngModel)]="scanModel.skuLotModel.skulot10">
    </ion-input>
  </ion-item>
</div>