<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.basics.location.mapper.LocationMapper">

    <select id="listTop10ByCode"
            resultType="org.nodes.wms.dao.basics.location.dto.output.LocationSelectResponse">
        SELECT loc_id,
               loc_code
        FROM wms_location
        WHERE loc_code LIKE CONCAT('%', #{locCode}, '%')
        ORDER BY update_time DESC
        LIMIT 10
    </select>

    <sql id="tableList">
        SELECT
        l.loc_id,
        l.loc_code,
        w.wh_name as whName,
        z.zone_name as zoneName,
        d1.dict_value as locType,
        d2.dict_value as locCategory,
        d3.dict_value as locHandling,
        d4.dict_value as abc,
        d5.dict_value as locFlag,
        l.logic_allocation,
        l.loc_level,
        l.loc_column,
        l.loc_bank,
        l.put_order,
        lt.code as lpn_type_code,
        IF(l.status = 1, '是', '否') as status
        FROM wms_location l
        LEFT JOIN wms_warehouse w ON w.wh_id = l.wh_id
        LEFT JOIN wms_zone z ON z.zone_id = l.zone_id
        LEFT JOIN wms_lpn_type lt ON lt.id = l.lpn_type_id
        LEFT JOIN blade_dict d1 ON l.loc_type = d1.dict_key and d1.code = 'loc_type'
        LEFT JOIN blade_dict d2 ON l.loc_category = d2.dict_key and d2.code = 'loc_category'
        LEFT JOIN blade_dict d3 ON l.loc_handling = d3.dict_key and d3.code = 'loc_handling'
        LEFT JOIN blade_dict d4 ON l.abc = d4.dict_key and d4.code = 'abc'
        LEFT JOIN blade_dict d5 ON l.loc_flag = d5.dict_key and d5.code = 'loc_flag'
        <where>
            l.is_deleted = 0
            <if test=" param.locCode != null and param.locCode !='' ">
                AND l.loc_code LIKE CONCAT('%', #{param.locCode}, '%')
            </if>
            <if test=" param.whIdList != null and param.whIdList.size > 0 ">
                AND l.wh_id IN
                <foreach collection="param.whIdList" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test=" param.zoneIdList != null and param.zoneIdList.size > 0 ">
                AND l.zone_id IN
                <foreach collection="param.zoneIdList" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test=" param.locTypeList != null and param.locTypeList.size > 0 ">
                AND l.loc_type IN
                <foreach collection="param.locTypeList" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test=" param.locCategoryList != null and param.locCategoryList.size > 0 ">
                AND l.loc_category IN
                <foreach collection="param.locCategoryList" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test=" param.locHandlingList != null and param.locHandlingList.size > 0 ">
                AND l.loc_handling IN
                <foreach collection="param.locHandlingList" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test=" param.locFlagList != null and param.locFlagList.size > 0 ">
                AND l.loc_flag IN
                <foreach collection="param.locFlagList" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="listByPage" resultType="org.nodes.wms.dao.basics.location.dto.output.LocationPageResponse">
        <include refid="tableList"/>
        <if test=" page.orders == null or page.orders.size == 0 ">
            ORDER BY l.create_time DESC,l.loc_id
        </if>
    </select>

    <select id="listByQuery" resultType="org.nodes.wms.dao.basics.location.dto.output.LocationExcelResponse">
        <include refid="tableList"/>
    </select>

    <select id="selectDetailById"
            resultType="org.nodes.wms.dao.basics.location.dto.output.LocationDetailResponse">
        SELECT l.loc_code,
               w.wh_name,
               z.zone_name,
               d1.dict_value                         as locType,
               d2.dict_value                         as locCategory,
               d3.dict_value                         as locHandling,
               d4.dict_value                         as abc,
               d5.dict_value                         as locFlag,
               l.loc_flag,
               l.check_digit,
               l.logic_allocation,
               l.loc_bank,
               l.loc_column,
               l.put_order,
               lt.code                               as lpnTypeCode,
               l.loc_length,
               l.loc_wide,
               l.loc_high,
               l.capacity,
               l.load_weight,
               l.loc_level,
               l.item_num,
               l.tray_num,
               IF(l.loc_sku_mix = 1, '启用', '未启用')    as locSkuMix,
               IF(l.loc_lot_no_mix = 1, '启用', '未启用') as locLotNoMix
        FROM wms_location l
                 LEFT JOIN wms_zone z ON l.zone_id = z.zone_id
                 LEFT JOIN wms_warehouse w ON l.wh_id = w.wh_id
                 LEFT JOIN wms_lpn_type lt ON l.lpn_type_id = lt.id
                 LEFT JOIN blade_dict d1 ON l.loc_type = d1.dict_key and d1.code = 'loc_type'
                 LEFT JOIN blade_dict d2 ON l.loc_category = d2.dict_key and d2.code = 'loc_category'
                 LEFT JOIN blade_dict d3 ON l.loc_handling = d3.dict_key and d3.code = 'loc_handling'
                 LEFT JOIN blade_dict d4 ON l.abc = d4.dict_key and d4.code = 'abc'
                 LEFT JOIN blade_dict d5 ON l.loc_flag = d5.dict_key and d5.code = 'loc_flag'
        WHERE l.loc_id = #{id}
        ORDER BY l.create_time DESC
    </select>
    <select id="selectLoctionByLpnType" resultType="org.nodes.wms.dao.basics.location.entities.Location">
        select wl.*
        from wms_location wl
                 left join wms_zone wz on wl.zone_id = wz.zone_id
                 left join wms_lpn_type wt on wl.lpn_type_id = wt.id
        where wl.wh_id = #{param.whId}
          and wz.zone_name = 'AGV收货接驳区'
          and wt.code = #{param.lpnType}
    </select>

    <select id="getLocationByLpnTypeIdAndZoneType" resultType="org.nodes.wms.dao.basics.location.entities.Location">
        select l.loc_id, l.zone_id, l.wh_id, l.loc_code, l.loc_type , l.loc_category, l.loc_handling, l.allocation_zone,
        l.loc_flag, l.abc , l.lock_flag, l.loc_status, l.logic_allocation, l.loc_length, l.loc_wide , l.loc_high,
        l.loc_level, l.x_code, l.y_code, l.z_code , l.check_digit, l.loc_column, l.loc_bank, l.put_order, l.lpn_type_id
        ,
        l.orientation, l.capacity, l.load_weight, l.item_num, l.tray_num , l.count_bill_no, l.share_width,
        l.share_weight,
        l.loc_sku_mix, l.loc_lot_no_mix , l.loc_lot_mix1, l.loc_lot_mix2, l.loc_lot_mix3, l.loc_lot_mix4, l.loc_lot_mix5
        ,
        l.loc_lot_mix6, l.loc_lot_mix7, l.loc_lot_mix8, l.loc_lot_mix9, l.loc_lot_mix10 , l.loc_lot_mix11,
        l.loc_lot_mix12, l.loc_lot_mix13, l.loc_lot_mix14, l.loc_lot_mix15 , l.loc_lot_mix16, l.loc_lot_mix17,
        l.loc_lot_mix18, l.loc_lot_mix19, l.loc_lot_mix20 , l.loc_lot_mix21, l.loc_lot_mix22, l.loc_lot_mix23,
        l.loc_lot_mix24, l.loc_lot_mix25 , l.loc_lot_mix26, l.loc_lot_mix27, l.loc_lot_mix28, l.loc_lot_mix29,
        l.loc_lot_mix30 , l.last_cycle_date, l.last_loc_count_date, l.occupy_flag, l.tenant_id, l.create_user ,
        l.create_dept, l.create_time, l.update_user, l.update_time, l.status , l.is_deleted from wms_location l LEFT
        JOIN wms_zone z on l.zone_id=z.zone_id
        <where>
            l.is_deleted = 0
            <if test="lpnTypeId !=null and lpnTypeId != ''">
                and l.lpn_type_id=#{lpnTypeId}
            </if>
            <if test="zoneType !=null and zoneType != ''">
                and z.zone_type=#{zoneType}
            </if>
        </where>
    </select>

    <select id="getLocationByZoneType" resultType="org.nodes.wms.dao.basics.location.entities.Location">
        select z.loc_id,
        z.zone_id,
        z.wh_id,
        z.loc_code,
        z.loc_type,
        z.loc_category,
        z.loc_handling,
        z.allocation_zone,
        z.loc_flag,
        z.abc,
        z.lock_flag,
        z.loc_status,
        z.logic_allocation,
        z.loc_length,
        z.loc_wide,
        z.loc_high,
        z.loc_level,
        z.x_code,
        z.y_code,
        z.z_code,
        z.check_digit,
        z.loc_column,
        z.loc_bank,
        z.put_order,
        z.lpn_type_id,
        z.orientation,
        z.capacity,
        z.load_weight,
        z.item_num,
        z.tray_num,
        z.count_bill_no,
        z.share_width,
        z.share_weight,
        z.loc_sku_mix,
        z.loc_lot_no_mix,
        z.loc_lot_mix1,
        z.loc_lot_mix2,
        z.loc_lot_mix3,
        z.loc_lot_mix4,
        z.loc_lot_mix5,
        z.loc_lot_mix6,
        z.loc_lot_mix7,
        z.loc_lot_mix8,
        z.loc_lot_mix9,
        z.loc_lot_mix10,
        z.loc_lot_mix11,
        z.loc_lot_mix12,
        z.loc_lot_mix13,
        z.loc_lot_mix14,
        z.loc_lot_mix15,
        z.loc_lot_mix16,
        z.loc_lot_mix17,
        z.loc_lot_mix18,
        z.loc_lot_mix19,
        z.loc_lot_mix20,
        z.loc_lot_mix21,
        z.loc_lot_mix22,
        z.loc_lot_mix23,
        z.loc_lot_mix24,
        z.loc_lot_mix25,
        z.loc_lot_mix26,
        z.loc_lot_mix27,
        z.loc_lot_mix28,
        z.loc_lot_mix29,
        z.loc_lot_mix30,
        z.last_cycle_date,
        z.last_loc_count_date,
        z.occupy_flag,
        z.tenant_id,
        z.create_user,
        z.create_dept,
        z.create_time,
        z.update_user,
        z.update_time,
        z.status,
        z.is_deleted
        from wms_location
        <where>
            <if test="zoneType !=null and zoneType != ''">
                and z.zone_type = #{zoneType}
            </if>
            <if test=" locIdList != null and locIdList.size > 0 ">
                AND l.loc_id IN
                <foreach collection="locIdList" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
