<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.basics.suppliers.mapper.SupplierMapper">

    <select id="selectPageSupplier"
            resultType="org.nodes.wms.dao.basics.suppliers.dto.output.SupplierPageResponse">
        SELECT s.id,
        s.code,
        s.name,
        s.simple_name,
        o.owner_name,
        s.remark,
        s.status,
        user1.real_name as create_name,
        s.create_time,
        user2.real_name as update_name,
        s.update_time
        FROM basics_suppliers s
        LEFT JOIN blade_user user1 ON user1.id = s.create_user
        LEFT JOIN blade_user user2 ON user2.id = s.update_user
        LEFT JOIN wms_owner o ON o.wo_id = s.wo_id

        <where>
            AND s.is_deleted = 0
            <if test=" query.name !=null and query.name != '' ">
                <bind name="nameLike" value=" '%'+query.name+'%' "/>
                AND s.name LIKE #{nameLike}
                <!--AND name LIKE concat('%',#{query.name},'%')-->
            </if>
            <if test=" query.simpleName !=null and query.simpleName != '' ">
                <bind name="simpleNameLike" value=" '%'+query.simpleName+'%' "/>
                AND s.name LIKE #{simpleNameLike}
                <!--AND simpleName LIKE concat('%',#{query.simpleName},'%')-->
            </if>
            <if test=" query.code !=null and query.code != '' ">
                AND s.code LIKE concat( '%' + #{query.code} + '%' )
            </if>
            <if test=" query.createTimeBegin !=null ">
                AND s.create_time &gt;= #{query.createTimeBegin}
            </if>
            <if test=" query.createTimeEnd !=null ">
                AND s.create_time &gt;= #{query.createTimeEnd}
            </if>
            <if test=" query.updateTimeBegin !=null ">
                AND s.update_time &gt;= #{query.updateTimeBegin}
            </if>
            <if test=" query.updateTimeEnd !=null ">
                AND s.update_time &gt;= #{query.updateTimeEnd}
            </if>
        </where>
        <if test=" page.orders ==null or page.orders.size() ==0 ">
            ORDER BY create_time DESC
        </if>
    </select>

    <select id="selectListByWrapper"
            resultType="org.nodes.wms.dao.basics.suppliers.dto.output.SupplierExportResponse">
        SELECT
             s.code,
             s.name,
             s.simple_name,
             o.owner_name,
             s.remark,
             s.status,
             s.create_user,
             s.create_time,
             s.update_time,
             user1.real_name as create_name,
             user2.real_name as update_name
        FROM basics_suppliers s
        LEFT JOIN blade_user user1 ON user1.id = s.create_user
        LEFT JOIN blade_user user2 ON user2.id = s.update_user
        LEFT JOIN wms_owner o ON s.wo_id = o.wo_id
        ${ew.customSqlSegment}
    </select>
</mapper>
