<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.crontab.mapper.SchemeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="schemeResultMap" type="org.nodes.wms.dao.crontab.entity.Scheme">
        <result column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="wh_id" property="whId"/>
        <result column="years" property="years"/>
        <result column="months" property="months"/>
        <result column="days" property="days"/>
        <result column="weekdays" property="weekdays"/>
        <result column="hours" property="hours"/>
        <result column="minutes" property="minutes"/>
        <result column="seconds" property="seconds"/>
        <result column="second_range" property="secondRange"/>
        <result column="crontab_task_id" property="crontabTaskId"/>
        <result column="must_exec_times" property="mustExecTimes"/>
        <result column="today_exec_times" property="todayExecTimes"/>
    </resultMap>


</mapper>
