<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.truck.mapper.TruckStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="truckStockResultMap" type="org.nodes.wms.dao.truck.entities.TruckStock">
        <id column="lts_id" property="ltsId"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="truck_id" property="truckId"/>
        <result column="stock_id" property="stockId"/>
        <result column="wh_id" property="whId"/>
        <result column="zone_id" property="zoneId"/>
        <result column="loc_id" property="locId"/>
        <result column="sku_id" property="skuId"/>
        <result column="wsp_id" property="wspId"/>
        <result column="sku_level" property="skuLevel"/>
        <result column="stock_qty" property="stockQty"/>
        <result column="lpn_code" property="lpnCode"/>
        <result column="lot_number" property="lotNumber"/>
        <result column="bill_detail_id" property="billDetailId"/>
        <result column="last_in_time" property="lastInTime"/>
        <result column="last_out_time" property="lastOutTime"/>
        <result column="sku_lot1" property="skuLot1"/>
        <result column="sku_lot2" property="skuLot2"/>
        <result column="sku_lot3" property="skuLot3"/>
        <result column="sku_lot4" property="skuLot4"/>
        <result column="sku_lot5" property="skuLot5"/>
        <result column="sku_lot6" property="skuLot6"/>
        <result column="sku_lot7" property="skuLot7"/>
        <result column="sku_lot8" property="skuLot8"/>
        <result column="sku_lot9" property="skuLot9"/>
        <result column="sku_lot10" property="skuLot10"/>
        <result column="sku_lot11" property="skuLot11"/>
        <result column="sku_lot12" property="skuLot12"/>
        <result column="sku_lot13" property="skuLot13"/>
        <result column="sku_lot14" property="skuLot14"/>
        <result column="sku_lot15" property="skuLot15"/>
        <result column="sku_lot16" property="skuLot16"/>
        <result column="sku_lot17" property="skuLot17"/>
        <result column="sku_lot18" property="skuLot18"/>
        <result column="sku_lot19" property="skuLot19"/>
        <result column="sku_lot20" property="skuLot20"/>
        <result column="sku_lot21" property="skuLot21"/>
        <result column="sku_lot22" property="skuLot22"/>
        <result column="sku_lot23" property="skuLot23"/>
        <result column="sku_lot24" property="skuLot24"/>
        <result column="sku_lot25" property="skuLot25"/>
        <result column="sku_lot26" property="skuLot26"/>
        <result column="sku_lot27" property="skuLot27"/>
        <result column="sku_lot28" property="skuLot28"/>
        <result column="sku_lot29" property="skuLot29"/>
        <result column="sku_lot30" property="skuLot30"/>
    </resultMap>
</mapper>
