<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.core.basedata.mapper.OwnerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ownerResultMap" type="org.nodes.wms.dao.basics.owner.entities.Owner">
        <id column="wo_id" property="woId"/>
        <result column="owner_code" property="ownerCode"/>
        <result column="owner_name" property="ownerName"/>
        <result column="owner_name_s" property="ownerNameS"/>
        <result column="owner_city" property="ownerCity"/>
        <result column="owner_province" property="ownerProvince"/>
        <result column="owner_zip_code" property="ownerZipCode"/>
        <result column="owner_country" property="ownerCountry"/>
    </resultMap>
</mapper>
