<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.core.basedata.mapper.SkuLotMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="skuLotResultMap" type="org.nodes.wms.core.basedata.entity.SkuLot">
        <result column="wsl_id" property="wslId"/>
        <result column="wh_id" property="whId"/>
        <result column="wo_id" property="woId"/>
        <result column="sku_lot_code" property="skuLotCode"/>
        <result column="sku_lot_name" property="skuLotName"/>
        <result column="remark" property="remark"/>
        <result column="sku_lot1" property="skuLot1"/>
        <result column="sku_lot2" property="skuLot2"/>
        <result column="sku_lot3" property="skuLot3"/>
        <result column="sku_lot4" property="skuLot4"/>
        <result column="sku_lot5" property="skuLot5"/>
        <result column="sku_lot7" property="skuLot7"/>
        <result column="sku_lot6" property="skuLot6"/>
        <result column="sku_lot8" property="skuLot8"/>
        <result column="sku_lot9" property="skuLot9"/>
        <result column="sku_lot10" property="skuLot10"/>
        <result column="sku_lot12" property="skuLot12"/>
        <result column="sku_lot11" property="skuLot11"/>
        <result column="sku_lot13" property="skuLot13"/>
        <result column="sku_lot14" property="skuLot14"/>
        <result column="sku_lot15" property="skuLot15"/>
        <result column="sku_lot16" property="skuLot16"/>
        <result column="sku_lot17" property="skuLot17"/>
        <result column="sku_lot18" property="skuLot18"/>
        <result column="sku_lot19" property="skuLot19"/>
        <result column="sku_lot20" property="skuLot20"/>
        <result column="sku_lot21" property="skuLot21"/>
        <result column="sku_lot22" property="skuLot22"/>
        <result column="sku_lot23" property="skuLot23"/>
        <result column="sku_lot24" property="skuLot24"/>
        <result column="sku_lot25" property="skuLot25"/>
        <result column="sku_lot26" property="skuLot26"/>
        <result column="sku_lot27" property="skuLot27"/>
        <result column="sku_lot28" property="skuLot28"/>
        <result column="sku_lot29" property="skuLot29"/>
        <result column="sku_lot30" property="skuLot30"/>
        <result column="sku_lot_label1" property="skuLotLabel1"/>
        <result column="sku_lot_label2" property="skuLotLabel2"/>
        <result column="sku_lot_label3" property="skuLotLabel3"/>
        <result column="sku_lot_label4" property="skuLotLabel4"/>
        <result column="sku_lot_label5" property="skuLotLabel5"/>
        <result column="sku_lot_label6" property="skuLotLabel6"/>
        <result column="sku_lot_label7" property="skuLotLabel7"/>
        <result column="sku_lot_label8" property="skuLotLabel8"/>
        <result column="sku_lot_label9" property="skuLotLabel9"/>
        <result column="sku_lot_label10" property="skuLotLabel10"/>
        <result column="sku_lot_label11" property="skuLotLabel11"/>
        <result column="sku_lot_label12" property="skuLotLabel12"/>
        <result column="sku_lot_label13" property="skuLotLabel13"/>
        <result column="sku_lot_label14" property="skuLotLabel14"/>
        <result column="sku_lot_label15" property="skuLotLabel15"/>
        <result column="sku_lot_label16" property="skuLotLabel16"/>
        <result column="sku_lot_label17" property="skuLotLabel17"/>
        <result column="sku_lot_label18" property="skuLotLabel18"/>
        <result column="sku_lot_label19" property="skuLotLabel19"/>
        <result column="sku_lot_label20" property="skuLotLabel20"/>
        <result column="sku_lot_label21" property="skuLotLabel21"/>
        <result column="sku_lot_label22" property="skuLotLabel22"/>
        <result column="sku_lot_label23" property="skuLotLabel23"/>
        <result column="sku_lot_label24" property="skuLotLabel24"/>
        <result column="sku_lot_label25" property="skuLotLabel25"/>
        <result column="sku_lot_label26" property="skuLotLabel26"/>
        <result column="sku_lot_label27" property="skuLotLabel27"/>
        <result column="sku_lot_label28" property="skuLotLabel28"/>
        <result column="sku_lot_label29" property="skuLotLabel29"/>
        <result column="sku_lot_label30" property="skuLotLabel30"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

</mapper>
