<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.core.basedata.mapper.SkuLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="skuLogResultMap" type="org.nodes.wms.core.basedata.entity.SkuLog">
        <id column="wsl_id" property="wslId"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="sku_id" property="skuId"/>
        <result column="sku_code" property="skuCode"/>
        <result column="sku_name" property="skuName"/>
        <result column="out_count" property="outCount"/>
        <result column="last_count_time" property="lastCountTime"/>
    </resultMap>

</mapper>
