<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.core.basedata.mapper.SkuPackageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="skuPackageResultMap" type="org.nodes.wms.dao.basics.sku.entities.SkuPackage">
        <id column="wsp_id" property="wspId"/>
        <result column="wsp_name" property="wspName"/>
        <result column="online_package" property="onlinePackage"/>
        <result column="package_type" property="packageType"/>
        <result column="pallet_box_level" property="palletBoxLevel"/>
        <result column="pallet_level" property="palletLevel"/>
        <result column="lpn_weight" property="lpnWeight"/>
        <result column="lpn_height" property="lpnHeight"/>
    </resultMap>
</mapper>
