<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.core.basedata.mapper.SkuTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="skuTypeResultMap" type="org.nodes.wms.dao.basics.skuType.entities.SkuType">
        <id column="sku_type_id" property="skuTypeId"/>
        <result column="type_pre_id" property="typePreId"/>
        <result column="type_name" property="typeName"/>
        <result column="type_code" property="typeCode"/>
        <result column="wo_id" property="woId"/>
        <result column="grade_num" property="gradeNum"/>
        <result column="type_path" property="typePath"/>
        <result column="type_remark" property="typeRemark"/>

    </resultMap>

    <resultMap id="treeNodeResultMap" type="org.springblade.core.tool.node.TreeNode">

        <result column="title" property="title"/>
        <result column="value" property="value"/>
        <result column="key" property="key"/>
    </resultMap>

    <select id="tree" resultMap="treeNodeResultMap" resultType="org.nodes.wms.core.basedata.vo.SkuTypeVO">
        select sku_type_id as id,
        type_pre_id as parent_id,
        type_name as title,
        sku_type_id as "value",
        sku_type_id as "key",
        wo_id
        from wms_sku_type
        where is_deleted = 0
        <if test="skuTypeId != null and skuTypeId != ''">
            and sku_type_id = #{skuTypeId}
        </if>
        <if test="typePreId != null and typePreId != ''">
            and type_pre_id = #{typePreId}
        </if>
        <if test="woId != null and woId != ''">
            and wo_id = #{woId}
        </if>

    </select>
</mapper>
