<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.dao.stock.mapper.StockMapper">

    <select id="selectStockQtyByLocIdList" resultType="java.util.HashMap">
        SELECT SUM(stock_qty-pick_qty) AS skuQty, MAX( TIMESTAMPDIFF(DAY, last_in_time, now()) ) AS skuStoreDay
        FROM wms_stock
        WHERE
        stock_qty &gt; pick_qty
        AND loc_id IN
        <foreach collection="locIdList" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="selectStockSkuCountByLocIdList" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT sku_id)
        FROM wms_stock
        WHERE stock_qty &gt; pick_qty
        AND loc_id NOT IN
        <foreach collection="locIdList" separator="," item="item" close=")" open="(">
            #{item}
        </foreach>
    </select>

    <select id="getList" resultType="org.nodes.wms.dao.stock.dto.output.FindAllStockByNoResponse">
        select stock_id, stock_status, sku_level, wsp_name, wsp_id , sku_id, sku_code, sku_name,
        stay_stock_qty, stock_qty , pick_qty, occupy_qty, box_code, lpn_code, loc_id , loc_code,
        zone_id, zone_code, wh_id, wh_code , wo_id, last_in_time, last_out_time, lot_number,
        wsu_code , version, sku_lot1, sku_lot2, sku_lot3, sku_lot4 , sku_lot5, sku_lot6, sku_lot7,
        sku_lot8, sku_lot9 , sku_lot10, sku_lot11, sku_lot12, sku_lot13, sku_lot14 , sku_lot15,
        sku_lot16, sku_lot17, sku_lot18, sku_lot19 , sku_lot20, sku_lot21, sku_lot22, sku_lot23,
        sku_lot24 , sku_lot25, sku_lot26, sku_lot27, sku_lot28, sku_lot29 , sku_lot30, tenant_id,
        create_user, create_dept, create_time , update_user, update_time, status, is_deleted
        from wms_stock
        <where>
            <if test="query.no != null and query.no != ''">
                loc_code LIKE CONCAT('%', #{query.no} ,'%') and is_deleted = 0 and stay_stock_qty + stock_qty > pick_qty
                and stock_status = 0 or
                sku_code LIKE CONCAT('%', #{query.no} ,'%') and is_deleted = 0 and stay_stock_qty + stock_qty > pick_qty
                and stock_status = 0 or
                box_code LIKE CONCAT('%', #{query.no} ,'%') and is_deleted = 0 and stay_stock_qty + stock_qty > pick_qty
                and stock_status = 0
            </if>
        </where>
    </select>
    <select id="getPage" resultType="org.nodes.wms.dao.stock.dto.output.StockPageResponse">
        select s.stock_id,
        s.sku_code,
        s.stock_status,
        s.sku_lot1,
        s.pick_qty,
        s.stock_qty,
        s.occupy_qty,
        s.wsu_code,
        s.loc_code,
        s.zone_code,
        s.box_code,
        s.lpn_code,
        s.sku_lot2,
        s.sku_lot3,
        s.sku_lot4,
        s.sku_lot5,
        s.sku_lot6,
        s.sku_lot7,
        s.sku_lot8,
        wh.wh_code,
        wo.owner_code,
        wo.owner_name,
        s.last_in_time,
        s.last_out_time
        from wms_stock s
        left join wms_warehouse wh on s.wh_id = wh.wh_id
        left join wms_owner wo on s.wo_id = wo.wo_id
        <where>
            AND s.is_deleted ='0'
            <if test="query.skuCode!=null and query.skuCode != ''">
                AND s.sku_code LIKE concat('%',#{query.skuCode},'%')
            </if>
            <if test="query.SkuLot1!=null and query.SkuLot1 != ''">
                AND s.sku_lot1 LIKE concat('%',#{query.skuLot1},'%')
            </if>
            <if test="query.locCode!=null and query.locCode != ''">
                AND s.loc_code LIKE concat('%',#{query.locCode},'%')
            </if>

        </where>
    </select>
</mapper>
