<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nodes.scheduling.modules.system.mapper.SysUserMapper">
	<!--根据用户名查询用户-->
	<select id="selectByName" resultType="com.nodes.scheduling.modules.system.entity.SysUser">
		select * from sys_user where account = #{userName};
	</select>
</mapper>