<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Packaging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--天宜测试数据库-->
    <!-- <add name="MySqlConnectionString" connectionString="Server=192.168.41.172;Database=qa_wms;Uid=root;Pwd=Nodes@2022#;" /> -->
    <!--天宜正式数据库-->
    <add name="MySqlConnectionString" connectionString="Server=192.168.41.172;Database=pro_wms;Uid=root;Pwd=Nodes@2022#;" />
    <!--内部测试数据库-->
    <!-- <add name="MySqlConnectionString" connectionString="Server=10.168.3.207;Database=wms_dev;Uid=root;Pwd=123456;" /> -->
  </connectionStrings>
  <appSettings>
    <!--天宜测试环境-->
    <!-- <add key="WmsUrl" value="http://192.168.41.173:8088" /> -->
    <!--天宜正式环境-->
    <add key="WmsUrl" value="http://192.168.41.171:8088" />
    <!--内部测试环境-->
    <!-- <add key="WmsUrl" value="http://10.168.3.136:6001" /> -->
    <!--是否允许预览打印时保存数据且不打印真实的纸张，主要用于测试：true，正式环境设置为：false-->
    <add key="SavePrintPreviewFlag" value="false" />
    <!--箱贴前缀字符-->
    <add key="BoxCodePrefix" value="b:" />
    <!--天宜成品二维码内容分隔符-->
    <add key="QrCodeSeparator" value=";,；" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--弹性元件可用型号字典KEY-->
	<add key="YFL08ZZZ0000" value="packing_elastic_element" />
    <!--卡簧可用型号字典KEY-->
    <add key="YFL11ZZZ0000" value="packing_jump_ring" />
    <!--检修三角托可用型号字典KEY-->
    <add key="YFL05ZZJ0000" value="packing_maintenance_triangle" />
    <!--三角托可用的型号字典KEY-->
    <add key="YFL05ZZX0000" value="packing_triangle" />
    <!--非纸箱默认打印份数-->
    <add key="Copies" value="2" />
    <!--纸箱默认打印份数-->
    <add key="PaperCopies" value="1" />
  </appSettings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Packaging.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>0</value>
      </setting>
    </Packaging.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>