<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nodes.wms.core.strategy.mapper.RelenishmentDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="instockDetailResultMap" type="org.nodes.wms.core.strategy.entity.RelenishmentDetail">
        <id column="ssid_id" property="ssidId"/>
        <result column="ssi_id" property="ssiId"/>
        <result column="from_zone_id" property="fromZoneId"/>
        <result column="to_zone_id" property="toZoneId"/>
        <result column="ssid_proc_order" property="ssidProcOrder"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
</mapper>
