<!-- Generated template for the SerialNumberComponent component -->
<div>测试序列号</div>
<!-- 序列号明细 -->
<!-- <div class="list_item_serial">
  <div class="list_item_title">
    <span [ngStyle]="{'border-bottom':isTilebool === true ? '3px solid #008080' : '0' }"
      (click)="isTitle(true)">已扫序列号(<b></b>)</span>
    <span [ngStyle]="{'border-bottom':isTilebool === false ? '3px solid #008080' : '0' }"
      (click)="isTitle(false)">已收序列号(<b></b>)</span>
  </div>

</div> -->
<!-- 已扫描序列号 -->
<!-- <div *ngIf="NumberListFalag==1">
  <ion-list class="list_item_div">
    <ion-scroll scrollY="true" style="height:35rem;">
      <ion-item-sliding *ngFor="let item of serialNumber">
        <ion-item>
          <h2>{{item}}</h2>
        </ion-item>
        <ion-item-options side="right">
          <button (click)="removeItem(item)" ion-button color="danger">
            删除
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-scroll>
  </ion-list>
</div> -->
<!-- 已收序列号 -->
<!-- <div *ngIf="NumberListFalag==2 ">
  <ion-list class="list_item_div">
    <ion-scroll scrollY="true" style="height:35rem;">
      <ion-item-sliding *ngFor="let item of Sn">
        <ion-item>
          <h2>{{item.snDetailCode}}</h2>
        </ion-item>
      </ion-item-sliding>
    </ion-scroll>
  </ion-list>
</div> -->