.user{
					width:80px;
					height:80px;
					margin-left: 15%;
					border-radius:50%;
					overflow:hidden;
				}
				.user img{
				position: relative ;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
					margin:0 auto;
					  height:100%;
				}
	
		.logodiv {
			text-align: center;
			display: block;
			flex-wrap: wrap;
			margin-top: 0.8rem;
	
			h3 {
				font-size: 20px;
				font-weight: 900;
			}
	
			h5 {
				font-size: 14px;
			}
		}
		.user-name {
			 font-weight: bolder;
			margin-top: 20rpx;
			margin-right: 50rpx;
			font-size: 36rpx;
			font-family: Source Han Sans CN;
			font-weight: 500;
			
		}
			
		.user-box {
			display: flex;
			justify-content: space-between;
			padding: 20rpx 20rpx 0 64rpx;
			margin-top: 76rpx;
		}