
  .demo-layout {
	height:25px;
	border-radius:4px;
}
.bg-purple {
	font-weight:bolder;
}
.bg-purple-font {
	background-color:$theme-backgroup-color;
	height:20px;
	color:white;
	width:58px;
	font-size:100%;
}
