page-shipment-lpn {
  .label-ios {
    margin: 0;
  }
  .content-ios {
    //background-color: $bgcolor;
    margin-top: 5px;
  }
  .sub_header {
    height: 3rem;
    line-height: 3rem;
    position: static;
  }
  /*搜索栏*/
  .searchbar-ios {
    background-color: $titlecolor;
    border-bottom: none;
  }
  .searchbar-ios .searchbar-input {
    border-radius: 0px;
  }
  /*列表设置*/
  .item-ios {
    font-size: 14px !important;
  }
  .truck-nav .item-block {
    height: 35px;
    min-height: 30px;
  }
  .item-inner .iconfont {
    font-size: 18px;
  }
  /*列表右侧线间距*/
  .item-ios.item-block .item-inner {
    margin-right: 5%;
  }
  /*滚动条设置*/
  .no-scroll .scroll-content {
    overflow: hidden;
    height: 500px;
  }
  /*input右边图标*/
  .item-ios ion-avatar {
    min-width: 0px;
    min-height: 0px;
  }
  .item-ios ion-avatar ion-img,
  .item-ios ion-avatar img {
    border-radius: 0;
    overflow: hidden;
    width: 30px;
    height: 24px;
  }
  /*导航指引*/
  .nav-tile {
    width: 100%;
    height: 40px;
    line-height: 45px;
  }
  /*nav-header*/
  .nav-header {
    margin-top: 40px;
    height: 80px;
    //background-color: pink;
    border-top: 3px solid $bgcolor;
    border-bottom: 5px solid $bgcolor;
    // position: fixed;
    // z-index: 99999;
  }
  .nav-header div {
    margin-left: 15px;
    padding-top: 4px;
    color: $font888383;
  }
  .nav-header div:first-child {
    color: black;
  }
  .title-ms {
    position: relative;
    background-color: white;
    border-bottom: 1px solid #ccc;
    span {
      position: absolute;
    }
  }
  .title-ms .span-top {
    left: 50%;
    top: 5%;
  }
  .title-ms .span-bt {
    color: $titlecolor;
    left: 65%;
    top: 68%;
    }
  /*列表*/
  .title-font {
    div:first-child {
      margin: 3% 0 3% 5%;
      //text-align: center;
      a {
        border: 2px solid $titlecolor;
        border-radius: 5px;
        font-weight: bold;
      }
    }
    div:last-child {
      margin-bottom: 3%;
    }
    div {
      margin-left: 5%;
      font-size: 14px;
      width: 45%;
    }
    span:first-child {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  .ionic_right {
    position: absolute;
    right: 0%;
    bottom: 20%;
    .iconfont {
      font-size: 40px;
      color: #c2bdbd;
    }
  }
  /*按钮*/
  .btn-box {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    button {
      // width:calc(50% - 32px);
      // //   margin:0 16px;
      // }
      width: 50%;
    }
  }
  .button-ios {
    border-radius: 0px;
    margin: 0;
    padding: 0;
  }
  .list-ios ion-item-options .button {
    width: 5rem;
  }
  .list-ios > .item-block:last-child,
  .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0;
  }
  // ion-label {
  //   width: 70px;
  //   text-align: justify;
  //   text-align-last: justify;
  //   flex: none !important;
  // }
}
