<!--
  Generated template for the TaskviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="wmscolor">
    <ion-title>盘点任务
      <!-- <div class="title_f_name">(青啤五厂)</div> -->
    </ion-title>
    <ion-buttons end (click)="detailed()">
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-searchbar Description='primary' placeholder="库位" (keyup)="locCode_KeyDown($event)" [(ngModel)]="locCode">

  </ion-searchbar>
  <div class="nav-tile">
    <!-- <ul>
      <li>首页</li>
      <li>
        <ion-icon class="iconfont  iconicon_arr_right"></ion-icon>
      </li>
      <li>盘点</li>
      <li>
        <ion-icon class="iconfont  iconicon_arr_right"></ion-icon>
      </li>
      <li>静态盘点</li>
      <li>
        <ion-icon class="iconfont  iconicon_arr_right"></ion-icon>
      </li>
      <li>盘点任务</li>
    </ul> -->
    <crumbs></crumbs>
  </div>
  <div class="sub_header1">
    <div *ngFor="let item of subHeader" (click)="headSelected(item)"
      [ngClass]="{selected:subHeaderModel.taskName === item.taskName}">
      {{item.taskName}}
    </div>
  </div>
</ion-header>
<ion-content>

  <div *ngFor="let taskItem of taskResult; let i = index">
   
    <div  class="title-ms">
      <ion-checkbox (tap)="tapEvent(taskItem)" [(ngModel)]="taskItem.isModel"></ion-checkbox>
      <div class="title-ms-info" (tap)="onClick(taskItem)">
        <!-- <button ion-button color="dark">{{i+1}}</button> -->
        <div class="title-font-s1">
          <div>{{taskItem.locStatusDesc}}</div>
          <span>{{taskItem.whName}}</span>
        </div>
        <div class="title-font-s2">
          <div>{{taskItem.locCode}}</div>
          <span>物品种类：<b style="color: orange;">{{taskItem.skuType}}</b></span>
        </div>
        <div class="ionic_right">
          <ion-icon class="iconfont icon-xiangyou"></ion-icon>
        </div>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer>
  <div class="btn-box">
    <button no-dbl-click ion-button block class="btn-l" (tap)="exit()">
      返回[Esc]
    </button>
    <button no-dbl-click ion-button block class="btn-d" (tap)="btnOk()">
      完成[Ent]
    </button>
  </div>

</ion-footer>