<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="10.168.3.207" connectionString="XpoProvider=MySql;server=10.168.3.207;user id=root; password=123456; database=;persist security info=true;CharSet=utf8;" />
    <add name="10.168.3.207wms_dev" connectionString="XpoProvider=MySql;server=10.168.3.207;user id=root; password=123456; database=wms_dev;persist security info=true;CharSet=utf8;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>